<template>
  <div class="profile__photo">
    <div
      class="profile__photo-image"
      v-lazy:background-image="image">
    </div>
    <div class="photo__waiting" v-if="!media.checked">
      <i class="far fa-clock"></i> {{ $t('profile.on_check') }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    media: {
      required: true,
      type: Object,
    },
  },

  computed: {
    image() {
      if (this.media.type === 'video') { return this.media.thumb; }
      return this.media.small;
    },
  },
};
</script>
