<template>
  <v-content class="login__page" v-loading="true">
  </v-content>
</template>

<script>
import { setToken } from '@/utils/auth';
import { setLocale } from '@/utils/locale';

export default {
  mounted() {
    const token = this.$route.query.token;
    const locale = this.$route.query.locale;
    if (locale) { setLocale(locale); }
    if (token) {
      setToken(token);
      this.$store.commit('user/SET_TOKEN', token);
      window.location.href = '/';
      return;
    }
    this.$router.push('/');
  },
};
</script>
