<template>
  <v-content class="login__page">
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <div class="top_page_wrapper">
            <img src="/static/img/logo.png" class="top_page_logo">
            <span v-html="$t('login.best_app')"></span>
          </div>
          <v-card class="elevation-12 login__form-card" :loading="loading">
            <v-card-text>
              <div class="login__form-top">
                <h1>{{ $t('pages.register') }}</h1>
              </div>
              <v-form
                ref="form"
                v-model="valid"
                :lazy-validation="true"
                @submit="submit"
              >
                <v-radio-group label="Кто вы?" v-model="form.gender" row>
                  <v-radio label="Мужчина" value="male"></v-radio>
                  <v-radio label="Женщина" value="female"></v-radio>
                </v-radio-group>
                <v-text-field
                  label="Имя"
                  name="name"
                  type="text"
                  v-model="form.name"
                  :rules="rules.name"
                />
                <v-menu
                  v-model="birthdayMenu"
                  :close-on-content-click="false"
                  max-width="290"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-mask="'##-##-####'"
                      label="Дата рождения"
                      name="birthday"
                      type="text"
                      :append-icon="'mdi-calendar'"
                      @click:append="openBirthdayDatepicker"
                      @click:clear="form.birthday = null"
                      v-model="form.birthday"
                      :rules="rules.birthday"
                    />
                  </template>
                  <v-date-picker
                    v-model="form.birthdayDatepicker"
                    :max="maxBirthday"
                    @change="birthdayMenu = false"
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  label="Телефон"
                  name="login"
                  type="text"
                  v-mask="'+##########?#####'"
                  v-model="form.phone"
                  :rules="rules.phone"
                />
                <v-text-field
                  id="password"
                  label="Пароль"
                  name="password"
                  type="password"
                  v-model="form.password"
                  :rules="rules.password"
                />
                <v-text-field
                  id="invite"
                  label="Пригласительный код"
                  name="invite"
                  type="text"
                  v-model="form.invite"
                  :rules="rules.invite"
                />
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-row align="center"
                     justify="center">
                <v-btn color="primary" @click="submit">Зарегистрироваться</v-btn>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  props: {
    source: String,
  },

  data: () => ({
    birthdayMenu: '',
    form: {
      name: '',
      phone: '',
      password: '',
      invite: '',
      gender: 'male',
      birthday: '',
      birthdayDatepicker: ''
    },
    rules: {
      name: [
        v => !!v || 'Имя не заполнено',
        v => (v && v.length > 1) || 'Минимальная длина имени 2 символа',
        v => (v && v.length < 15) || 'Максимальная длина имени 15 символов',
      ],
      phone: [
        v => !!v || 'Телефон не заполнен',
        v => (v && (v.length >= 10 && v.length <= 15)) || 'Длина телефона должна быть от 10 до 15 символов',
      ],
      password: [
        v => !!v || 'Пароль не заполнен',
        v => (v && v.length > 6) || 'Минимальная длина пароля 6 символов',
      ],
      birthday: [
        v => !!v || 'Дата рождения не заполнена',
        v => (v && v.length >= 10) || 'Введите полную дату',
      ],
      invite: [
        //v => !!v || 'Введите пригласительный код',
      ],
    },
    loading: false,
    valid: true,
  }),

  watch: {
      "form.birthdayDatepicker": function(val) {
        const [year, month, day] = val.split('-')
        this.form.birthday = [day,month,year].join('-')
      }
  },

  computed: {
    maxBirthday: () => new Date('2003-12-31').toISOString()
  },

  methods: {
    submit() {
      if (this.loading) { return; }

      const validateResult = this.$refs.form.validate();
      if (!validateResult) { return; }

      this.loading = true;
      this.$store.dispatch('user/register', this.form)
        .then(() => {
          this.$router.push({ path: '/' });
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
    openBirthdayDatepicker() {
      const val = this.form.birthday
      const [day,month,year] = val.split('-')
      this.form.birthdayDatepicker = [year && year.length == 4 ? year : 2002, month || 1, day || 1].join('-')
      this.birthdayMenu = true
    }
  },
};
</script>

<style>
  .login__page .container {
    justify-content: center;
  }
  .login__form-card {
    margin-top: -20px;
  }
  .login__form-top {
    margin: 20px 0;
    text-align: center;
  }
  .top_page_wrapper {
    margin-bottom: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top_page_logo {
    height: 54px;
    margin-right: 10px;
  }
  .login__page span {
    text-align: right;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
  }
</style>
