.models__slider {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.models__slider-content {
  display: flex;
  overflow-x: scroll;
}

.models__slider-content::-webkit-scrollbar {
  display: none;
}

.models__slider .overflow_shadow {
  height: 100%;
  width: 50px;
  position: absolute;
  background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  left: -1px;
  top: 0;
}

.models__slider .overflow_shadow.overflow_shadow-right {
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  right: -1px;
  left: auto;
  top: 0;
}
