.phone__verification__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
}
.phone__verification__modal .modal__close {
  color: #fff;
  display: none;
}
.phone__verification__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.phone__verification__modal .modal__msg_content {
  margin: 0;
  padding: 0;
  position: relative;
}

.phone__verification__modal .modal__msg_content  .code__input {
  margin: 30px 0;
}

.phone__verification__modal-content {
  padding: 20px;
  color: var(--main-text-color);
  text-align: center;
}

.phone__verification__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.phone__verification__modal-content img {
  height: 80px;
  margin-bottom: 30px;
}

#recaptcha-container {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.not_received_hint {
  font-size: 16px;
  line-height: 20px;
  color: rgba(32,42,56,0.6);
  cursor: pointer;
  text-align: center;
  width: 100%;
}

@media(max-width: 767px) {
  .phone__verification__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }

  .not_received_hint {
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 0;
  }
}
