.models__slider {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.models__slider-content {
  display: flex;
  overflow-x: scroll;
}

.models__slider-content::-webkit-scrollbar {
  display: none;
}

.models__slider .overflow_shadow {
  height: 100%;
  width: 50px;
  position: absolute;
  background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  left: -1px;
  top: 0;
}

.models__slider .overflow_shadow.overflow_shadow-right {
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  right: -1px;
  left: auto;
  top: 0;
}


.closeoffer__modal {
  z-index: 1000;
}

.closeoffer__modal .modal__close {
  color: var(--main-text-color) !important;
}

.closeoffer__modal-content {
  color: var(--main-text-color);
  text-align: center;
}

.closeoffer__modal .modal__msg_wrapper {
  padding: 20px;
}

.closeoffer__modal .modal__msg_content {
  margin: 0;
  padding: 0;
}

.closeoffer__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
  width: 460px;
}

.closeoffer__modal > .modal__msg_wrapper {
  position: relative;
  transition: all 0.3s;
  left: 0;
}

.closeoffer__modal h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--main-text-color);
}
