<template>
  <app-modal class="closeoffer__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <h3>Вписка состоялась?</h3>
    <div class="closeoffer__modal-content" v-loading="loading">
      <div class="offer__modal-buttons">
        <app-button href="#" class="button button__success" @click.native="endOffer">
          <i class="fa fa-check"></i> {{ $t('yes') }}
        </app-button>
        <app-button href="#" class="button button__primary" @click.native="closeOffer">
          <i class="fa fa-trash"></i> {{ $t('no') }}
        </app-button>
      </div>
    </div>
  </app-modal>
</template>

<script>
  import AppModal from '@/components/AppModal';
  import AppButton from '@/components/AppButton';
  import AppButtonLinear from '@/components/AppButtonLinear';
  import './index.css';
  import Message from 'element-ui';
  import { mapGetters } from 'vuex';
  import EventBus from '@/bus';

  export default {
    props: {'users': Array},
    components: {
      AppModal,
      AppButton
    },

    data: () => ({
      loading: false,
      modal_left_hidden: false
    }),

    computed: {
      ...mapGetters(['loggedUser', 'currentOffer']),
    },

    methods: {
      async open() {
        this.$refs.modal.open();
      },
      onModalUserClose() {
        this.open()
          .then(() => this.modal_left_hidden = false)
      },
      closeOffer() {
        this.$store.dispatch('offers/close', this.currentOffer.id)
          .then(() => Message.success(this.$t('offer_close_modal.offer_closed')))
        this.$refs.modal.close()
      },
      endOffer() {
        this.$store.dispatch('offers/end', this.currentOffer.id)
          .then(() => Message.success(this.$t('offer_close_modal.offer_ended')))
        this.$refs.modal.close()
      },
    }
  };
</script>
