<template>
  <app-modal class="user__modal" ref="modal" @closed="close" :show-back-button="true" :show-close-button="false">
    <template v-slot:header>
      <div class="user__title-wrapper">
        <div class="user__avatar" :style="`background-image: url(${userAvatar})`"></div>
        <div class="user__title">
          <div class="user__name">{{ user.name }}</div>
          <div class="user__city">{{ title }}</div>
        </div>
      </div>
      <v-menu
        bottom
        offset-y
        style="max-width: 600px"
      >
        <template v-slot:activator="{ on }">
          <button class="modal__options" v-on="on">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </template>

        <v-list>
          <v-list-item
            v-for="option in options"
            :key="option.value"
            @click="optionClick(option.value)"
          >
            <v-list-item-title>
              {{ option.name }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <div class="user__modal-top">
      <div class="user__modal-top-content">
        <div class="user__title-wrapper">
          <div class="user__avatar" :style="`background-image: url(${userAvatar})`"></div>
          <div class="user__title">
            <div class="user__name">{{ user.name }}</div>
            <div class="user__city">{{ title }}</div>
          </div>
        </div>
        <div class="tabs">
          <div class="tab"
               :class="{'tab-active': activeTab === 'anceta' }"
               @click="activeTab = 'anceta'"
          >
            <span>{{ $t('user_modal.profile') }}</span>
          </div>
          <div class="tab"
               :class="{'tab-active': activeTab === 'reviews' }"
               @click="activeTab = 'reviews'">
            <span>{{ $t('user_modal.reviews') }}</span>
          </div>
        </div>
      </div>
      <div class="user__modal-top-background" :style="`background-image: url(${userAvatarBig})`">
        <div class="user__modal-top-gradient"></div>
      </div>
      <div class="user__modal-top-shadow"></div>
    </div>
    <transition name="fade" mode="out-in">
      <div class="tab-content" v-if="activeTab === 'anceta'" key="anceta">
        <div class="user__photos">
            <div class="overflow_shadow" v-if="overflow_shadow_left_show"></div>
          <div class="user__photos-content">
            <div
              class="photo__slide"
              v-for="(photo, index) in medias"
              :key="`photo_${photo.id}`"
              @click="mediaIndex = index"
            >
              <div class="photo__image" :style="`background-image: url(${photo.small})`"></div>
            </div>
          </div>
          <div class="overflow_shadow overflow_shadow-right" v-if="overflow_shadow_show"></div>
        </div>
        <div class="offer__modal-content">
          <v-skeleton-loader
            :loading="loading"
            height="94"
            type="list-item-two-line"
          >
            <!--<div class="user__message_buttons">
              <app-button v-on:click.native="openWhatsappDialog()" class="button button__primary" v-if="!fullUser.whatsapp">
                {{ $t('user_modal.send_message') }}
              </app-button>
              <app-button href="#" class="button button__success" @click.native.prevent="openWhatsappDialog" v-if="fullUser.whatsapp">
                <i class="fab fa-whatsapp"></i> {{ $t('user_modal.send_message') }}
              </app-button>
            </div>-->
            <div class="user__parameters-wrapper">
              <div class="offer__summary">
                <div class="offer__summary-option" v-if="fullUser.name">
                  <span>{{ $t('user_modal.name') }}:</span>
                  <p> {{ fullUser.name }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.gender">
                  <span>{{ $t('user_modal.gender') }}:</span>
                  <p> {{ $t(`user_modal.${fullUser.gender}`) }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.countryName">
                  <span>{{ $t('user_modal.location') }}:</span>
                  <p> {{ fullUser.countryName }} {{ fullUser.cityName ? `, ${fullUser.cityName}` : '' }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.hair_color">
                  <span>{{ $t('user_modal.hair_color') }}:</span>
                  <p> {{ fullUser.hair_color }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.eye_color">
                  <span>{{ $t('user_modal.eye_color') }}:</span>
                  <p> {{ fullUser.eye_color }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.nationalityName">
                  <span>{{ $t('user_modal.nationality') }}:</span>
                  <p> {{ fullUser.nationalityName }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.visas">
                  <span>{{ $t('user_modal.visas') }}:</span>
                  <p> {{ fullUser.visas }} </p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.age">
                  <span>{{ $t('user_modal.age') }}:</span>
                  <p> {{ fullUser.age }} {{ $t('user_modal.years') }}</p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.height">
                  <span>{{ $t('user_modal.height') }}:</span>
                  <p> {{ fullUser.height }} {{ $t('user_modal.sm') }}</p>
                </div>
                <div class="offer__summary-option" v-if="fullUser.weight">
                  <span>{{ $t('user_modal.weight') }}:</span>
                  <p> {{ fullUser.weight }} {{ $t('user_modal.kg') }}</p>
                </div>
                <div class="offer__summary-option offer__summary-option_description" v-if="fullUser.aboutme">
                  <span>{{ $t('user_modal.about') }}:</span>
                  <p> {{ fullUser.aboutme }} </p>
                </div>
              </div>
            </div>
          </v-skeleton-loader>
        </div>
      </div>
      <div class="tab-content" v-if="activeTab === 'reviews'" key="reviews">
        <div class="offer__modal-content reviews__content">
          <nothing-found>
            {{ $t('user_modal.has_no_reviews') }}
          </nothing-found>
        </div>
      </div>
    </transition>
    <div class="offer__modal-buttons" v-if="isGoing || isOfferSended || user.offer_link_status === 'model_agreed'" v-loading="offerLoading">
      <app-button
        href="#"
        class="button button__success"
        v-if="!isGoing"
        @click.native="agree"
      >
        <i class="fas fa-check"></i> {{ $t('user_modal.agree') }}
      </app-button>
      <app-button href="#" class="button button__primary" @click.native="refuse">
        <i class="fas fa-times"></i> {{ $t('user_modal.refuse') }}
      </app-button>
    </div>
    <vue-gallery
      class="images-gallery"
      id="images-gallery"
      :images="sliderMedias"
      :index="mediaIndex"
      @close="mediaIndex = null"
    ></vue-gallery>

    <v-dialog v-model="claimDialog" persistent max-width="400px">
      <v-card v-loading="claimLoading">
        <v-card-title>
          <span class="headline">{{ $t('user_modal.sending_a_complaint') }}</span>
        </v-card-title>
        <v-card-text>
          <v-text-field :label="$t('user_modal.complaint_reason')" v-model="claim_content" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="claimDialog = false">{{ $t('user_modal.close') }}</v-btn>
          <v-btn color="blue darken-1" text @click="sendClaim">{{ $t('user_modal.send') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import Chip from '@/components/Chip';
import NothingFound from '@/components/NothingFound';
import { ContentLoader } from 'vue-content-loader';
import { fetchUser, getLink } from '@/api/users';
import { addToBlackList } from '@/api/auth';
import { copyToClipboard } from '@/utils';
import { Message } from 'element-ui';
import { sendClaim } from '@/api/claims';
import { mapGetters } from 'vuex';
import './styles.css';

export default {
  components: {
    AppModal,
    AppButton,
    Chip,
    ContentLoader,
    NothingFound,
  },

  data: () => ({
    overscrolled: false,
    scroll_listener: null,
    scroll_listener_two: null,
    overflow_shadow_left_show: false,
    overflow_shadow_show: true,
    activeTab: 'anceta',
    showMenu: false,
    options: [
      { name: 'Пожаловаться', value: 'report' },
      { name: 'В черный список', value: 'black' },
      { name: 'Получить ссылку', value: 'link' },
    ],
    user: {},
    fullUser: {},
    loading: false,
    mediaIndex: null,
    offerLoading: false,
    claimDialog: false,
    claim_content: '',
    claimLoading: false,
  }),

  computed: {
    ...mapGetters(['loggedUser', 'isGirl', 'currentOffer']),

    medias() {
      if (!this.fullUser.photos) { return []; }

      const photos = this.fullUser.photos.map((photo) => {
        photo.url = photo.big;
        photo.type = 'image';
        return photo;
      });

      const videos = this.fullUser.videos
        ? this.fullUser.videos.map((video) => {
          video.type = 'video';
          return video;
        })
        : [];

      return [...photos, ...videos];
    },

    sliderMedias() {
      if (!this.medias) { return []; }
      const mediasCount = this.medias.length;
      return this.medias.map((media, index) => ({
        title: `${index + 1} из ${mediasCount}`,
        href: media.type === 'video' ? media.url : media.big,
        type: media.type === 'video' ? 'video/mp4' : 'image/jpeg',
        poster: media.thumb,
        thumbnail: media.type === 'video' ? media.thumb : media.small,
      }));
    },
    isGoing() {
      //console.log(this.currentOffer.users_going.find((user) => user.id == this.user.id) == undefined)
      if(this.currentOffer && this.currentOffer.users_going) {
        return this.currentOffer.users_going.find((user) => user.id == this.user.id) !== undefined
      }
      return 0;
    },

    title() {
     return '';
      if (!this.fullUser.id) { return ''; }
      if (this.isGirl) { return this.$t('modal_offer_model.agent'); }
      return this.fullUser.countryName + (this.fullUser.cityName ? (`, ${this.fullUser.cityName}`) : '');
    },
    userAvatar() {
      if (this.user && this.user.avatar) { return this.user.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },
    userAvatarBig() {
      if (this.user && this.user.avatar) { return this.user.avatar.big; }
      return '/static/img/without_avatar.jpg';
    },
    isOfferSended() {
      return !!this.currentOffer.application//.users_requesting.find((user) => user.id == this.user.id)
    }
  },
  watch: {

  },
  methods: {
    open(user) {
      //console.log('UU', user)
      this.user = user;
      this.loading = true;
      this.$refs.modal.open();
      this.loadUser();
      this.$nextTick(this.initScrollListener.bind(this));
    },

    close() {
      this.removeListener();
      this.$refs.modal.close();
      this.$emit('closed');
    },

    optionClick(type) {
      if (type === 'report') {
        this.claimDialog = true;
        return;
      }
      if (type === 'black') {
        this.addToBlackList();
        return;
      }
      if (type === 'link') {
        this.getLink();
      }
    },

    async sendClaim() {
      if (!this.claim_content) {
        Message.error('Заполните причину');
        return;
      }
      this.claimLoading = true;
      try {
        await sendClaim({
          claimable_id: this.user.id,
          claimable_type: 'users',
          content: this.claim_content,
        });
        Message.success('Жалоба отправлена. Ее рассмотрит администрация в ближайшее время');
        this.claimDialog = false;
        this.claim_content = '';
      } catch (e) {
        Message.error('Произошла ошибка. Жалоба не отправлена');
      }
      this.claimLoading = false;
    },

    async addToBlackList() {
      try {
        await addToBlackList(this.user.id);
        Message.success('Пользователь добавлен в черный список. Больше он не сможет вам писать и участвовать в ваших предложениях');
        this.fullUser.in_blacklist = true;
      } catch (e) {
        Message.error('Произошла ошибка при добавлении в черный список');
      }
    },

    getLink() {
      getLink(this.user.id)
        .then(({ link }) => {
          copyToClipboard(link);
          Message.success('Ссылка успешно скопирована');
        })
        .catch(() => {
          Message.error('Ошибка создания ссылки');
        });
    },

    loadUser() {
      this.loading = true;
      fetchUser(this.user.id)
        .then(({data}) => {
          this.$set(this, 'fullUser', data)
          this.loading = false;
        })
        .catch(() => {
          this.close();
          this.loading = false;
        })
    },

    agree() {
      this.offerLoading = true;
      this.$store.dispatch('offers/agreeOfferUser', {
        offerId: this.currentOffer.id,
        userId: this.user.id
      })
        .then(() => {
          this.user.offer_link_status = 'manager_agreed';
          this.offerLoading = false;
          Message.success('Заявка одобрена');
          this.close()
        })
        .catch((err) => {
          this.offerLoading = false;
          console.log(err.message)
          Message.error('Произошла ошибка');
        });
    },

    refuse() {
      this.offerLoading = true;
      this.$store.dispatch('offers/refuseOfferUser', {
        offerId: this.currentOffer.id,
        userId: this.user.id
      })
        .then(() => {
          this.user.offer_link_status = 'manager_refused';
          this.offerLoading = false;
          Message.success('Заявка отклонена');
          this.close()
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    initScrollListener() {
      const scrollContainer = document.querySelector('.user__modal .__scroll');
      if(scrollContainer)
      {
        this.scrollContainer = scrollContainer;
        this.scrollContainer.addEventListener('scroll', this.scrollHandler.bind(this));
      }
    },

    scrollHandler(event) {
      const target = event.target || event.currentTarget;
      const scrollTop = target.scrollTop;
      if (scrollTop >= 160) {
        if (this.overscrolled) { return; }
        document.querySelector('.user__modal .modal__close').style.color = '#242a38';
        this.overscrolled = true;
      } else {
        if (!this.overscrolled) { return; }
        document.querySelector('.user__modal .modal__close').style.color = '#fff';
        this.overscrolled = false;
      }
    },

    removeListener() {
      if (this.scrollContainer) { this.scrollContainer.removeEventListener('scroll', this.scrollHandler.bind(this)); }
    },

    openWhatsappDialog() {
      const message = encodeURI(
        `Здравствуйте. Я ${this.loggedUser.name} из приложения vue-example. Моя страница в приложении vue-example://${
          this.isGirl ? 'model/' : 'manager/'
        }${this.loggedUser.id}`,
      );

      window.open(
        `http://api.whatsapp.com/send?phone=${this.fullUser.whatsapp.replace('+', '')}&text=${message}`,
      );
    },
  },

  mounted() {
    this.$nextTick(() => {
      if(this.scroll_listener = document.querySelector('.user__modal .modal__msg_content')) {
        this.scroll_listener.addEventListener('scroll', (event) => {
          const target = event.target || event.currentTarget;
          const scrollTop = target.scrollTop;
          const user_modal_top = document.querySelector('.user__modal-top');
          if (scrollTop >= user_modal_top.offsetHeight - 60) {
            if (this.overscrolled) {
              return;
            }
            document.querySelector('.user__modal .modal__msg_header').setAttribute('overscrolled', true);
            this.overscrolled = true;
          } else {
            if (!this.overscrolled) {
              return;
            }
            document.querySelector('.user__modal .modal__msg_header').setAttribute('overscrolled', false);
            this.overscrolled = false;
          }
        });
      }
      if(this.scroll_listener_two = document.querySelector('.user__modal .user__photos-content')) {
        this.scroll_listener_two.addEventListener('scroll', (event) => {
          const target = event.target || event.currentTarget;
          if (target.scrollLeft + target.offsetWidth >= target.scrollWidth - 20) {
            this.overflow_shadow_show = false;
          } else {
            this.overflow_shadow_show = true;
          }

          if (target.scrollLeft > 5) {
            this.overflow_shadow_left_show = true;
          } else {
            this.overflow_shadow_left_show = false;
          }
        });
      }
    })
  },

  beforeDestroy() {
    this.removeListener();
  },
};
</script>
