.user__modal {
  top: 0;
  left: 100vw;
  background: none;
}

.user__modal[display] {
  left: 0;
}

.user__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
}
.user__modal .modal__close {
  color: #fff
}
.user__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  justify-content: space-between;
}
.user__modal .modal__msg_content {
  margin: 0;
  padding: 0;
  position: relative;
}
.user__modal-top {
  height: 200px;
  width: 100%;
  position: relative;
}
.user__modal-top-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
}
.user__modal-top-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #bdc3c7;
  background: -webkit-gradient(linear, left bottom, left top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
  opacity: 0.4;
}

.user__modal-top-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.user__modal-top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
}

.user__title-wrapper {
  display: flex;
  align-items: center;
}

.user__title-wrapper .user__avatar {
  width: 32px;
  height: 32px;
  background-size: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.user__modal-top-content .user__title-wrapper {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: calc(100% - 40px);
}

.user__modal-top-content .user__title-wrapper .user__avatar {
  width: 54px;
  height: 54px;
  margin-right: 10px;
  border: 3px solid #fff;
}

.user__title-wrapper .user__title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user__title-wrapper .user__title .user__name {
  color: var(--main-text-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1px;
}

.user__modal-top-content .user__title-wrapper .user__title .user__name {
  color: #fff;
  font-size: 18px;
  margin-bottom: 3px;
}

.user__title-wrapper .user__title .user__city {
  color: #ccc;
  font-size: 12px;
}

.user__modal-top-content .user__title-wrapper .user__title .user__city {
  font-size: 16px;
}

.user__modal-content {
  padding: 20px;
  color: var(--main-text-color);
}

.user__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.user__message_buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.user__message_buttons .button {
  flex: 1 0 0;
  margin-right: 10px;
}
.user__message_buttons .button:last-child {
  margin-left: 10px;
  margin-right: 0;
}


.user__modal-buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
}
.user__modal-buttons .button {
  width: 45%;
}

.modal__msg_header .user__title-wrapper {
  display: none;
}

.modal__msg_header[overscrolled="true"] .user__title-wrapper {
  display: flex;
}

@media(max-width: 767px) {
  .user__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}

@media(max-width: 340px) {
  .user__modal-buttons .button i {
    display: none;
  }
}

.user__photos {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.user__photos-content {
  display: flex;
  overflow-x: auto;
}

.user__photos-content::-webkit-scrollbar {
  display: none;
}

.photo__slide {
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
}
.photo__image {
  background-size: cover;
  background-position: 50% 50%;
  height: 64px;
  width: 64px;
  border-radius: 3px;
}
.model__title {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.user__photos .overflow_shadow {
  height: 100%;
  width: 60px;
  position: absolute;
  background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  left: -1px;
  top: 0;
}

.user__photos .overflow_shadow.overflow_shadow-right {
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  right: -1px;
  left: auto;
  top: 0;
}

.user__parameters-wrapper {
  margin-top: 20px;
}

.user__parameters {
  display: flex;
  flex-wrap: wrap;
}

.user__parameter {
  width: 50%;
  line-height: 30px;
}

@media (max-width: 767px) {
  .user__parameter {
    width: 100%;
  }
}


.tabs {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  margin: 0;
  min-height: 0px;
  min-width: 0px;
  padding: 0;
  z-index: 0;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  padding-top: 4px;

  position: absolute;
  bottom: -3px;
  width: calc(100% - 40px);
}

.tab {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  -webkit-box-flex: 1;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-box-align: center;
  align-items: center;
  transition-property: opacity;
  -webkit-box-pack: center;
  justify-content: center;
  outline-width: 0px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 3px solid transparent;
}

.tab span {
  padding-bottom: 3px;
}

.tab.tab-active {
  border-bottom: 3px solid #FF7781;
}

.reviews__content {
  min-height: 270px;
  position: relative;
}
