<template>
  <app-modal class="offer__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <div class="offer__modal-top" v-if="currentOffer">
      <div class="offer__modal-top-content">
        <div class="offer__title" v-show="!loading">
          <div class="offer__city">{{ formatDate(currentOffer.meeting_date) }}</div>
          <div class="offer__name">{{ offer.name }}</div>
        </div>
        <div class="offer__bottom">
          <chip
            :content="chipContent"
            :class="chipClass"
            v-show="!loading"
          />
        </div>
      </div>
      <div class="offer__modal-top-background" :style="`background-image: url(${cityImage})`">
        <div class="offer__modal-top-gradient"></div>
      </div>
      <div class="offer__modal-top-shadow"></div>
    </div>
    <div class="offer__modal-content">
      <div class="user__title-wrapper" @click="openUserModal(currentOffer.manager)">
        <div class="user__avatar" :style="`background-image: url(${managerAvatar})`"></div>
        <div class="user__title">
          <div class="user__name">{{ currentOffer.manager ? currentOffer.manager.name : '' }}</div>
          <div class="user__city">{{ $t('modal_offer_model.agent') }}</div>
        </div>
      </div>

      <v-skeleton-loader
        :loading="loading"
        height="94"
        type="list-item-two-line"
      >
        <div class="tabs" v-if="!noChat">
          <div class="tab"
               key="1"
               ref="tab_info"
               :class="{'tab-active': activeTab == '1' }"
               @click="onTabSwitched(1)"
          >
            <span>{{ $t('information') }}</span>
          </div>
          <div class="tab"
               :class="{'tab-active': activeTab == '2' }"
               @click="onTabSwitched(2)">
            <span>{{ $t('chat') }}</span>
          </div>
        </div>
        <!--<template>
          <v-tabs v-model="tab">
            <v-tab key="1" v-on:click="onTabSwitched(1)" ref="tab_info">Информация</v-tab>
            <v-tab key="2" v-on:click="onTabSwitched(2)"
              v-if="currentOffer.application && currentOffer.application.status == 'accepted'"
            >Чат</v-tab>
          </v-tabs>
          <br>
        </template>-->
        <transition name="fade" mode="out-in">
          <div class="tab-content" v-if="activeTab == '1'" key="tab_info">
            <div class="offer__modal-going" v-if="currentOffer.manager && currentOffer.manager.id == loggedUser.id && usersRequesting && usersRequesting.length">
              <div class="label">
                <p>Не рассмотренные заявки:</p>
              </div>
              <div class="avatars-container">
                <girl-small-profile
                  class="avatars"
                  :user="user"
                  v-for="(user, index) in usersRequesting"
                  @open="openUserModal(user)"
                  :key="`agreed_model_${index}`"
                />
              </div>
            </div>
            <div class="offer__modal-going" v-if="usersGoing && usersGoing.length">
              <h3>На вписку собираются</h3>
              <div class="avatars-container">
                <girl-small-profile
                  class="avatars"
                  :user="user"
                  v-for="(user, index) in usersGoing"
                  @open="openUserModal(user)"
                  :key="`agreed_model_${index}`"
                />
              </div>
            </div>

            <h3>
              {{ $t('modal_offer_model.description') }}
              <app-button
                v-if="isMineOffer"
                href="#"
                class="edit-pen"
                @click.native="editDescription"
              >
                <i class="fa fa-pen"></i>
              </app-button>
            </h3>
            <p v-show="!descriptionEditing">{{ currentOffer.description }}</p>
            <div v-show="descriptionEditing && isMineOffer">
              <v-textarea
                name="description"
                v-model="form.description"
                :counter="1000"
                :rows="1"
                required
                auto-grow
              ></v-textarea>
              <v-row>
                <v-col cols="12" sm="6">
                  <app-button href="#" class="button button__success button__small" @click.native="saveOffer">
                    {{ $t('modal_offer_model.save') }}
                  </app-button>
                </v-col>
                <v-col cols="12" sm="6">
                  <app-button href="#" class="button button__primary button__small" @click.native="closeEditDescription">
                    {{ $t('modal_offer_model.discard') }}
                  </app-button>
                </v-col>
              </v-row>
            </div>
            <div class="offer__summary">
              <!--<div class="offer__summary-option" v-if="currentOffer.category">
                <span>{{ $t('modal_offer_model.category') }}</span>
                <p>{{ currentOffer.category.name }}</p>
              </div>-->
              <div class="offer__summary-option" v-if="currentOffer.country">
                <span>{{ $t('modal_offer_model.meeting_place') }}</span>
                <p>{{ currentOffer.country.name }}, {{ currentOffer.city.name }}</p>
              </div>
              <div class="offer__summary-option">
                <span>{{ $t('modal_offer_model.meeting_date') }}</span>
                <p>{{ formatDate(currentOffer.meeting_date) }}</p>
              </div>
              <div class="offer__summary-option">
                <span>{{ $t('offer_create_modal.age') }}</span>
                <p>
                  {{ $t('offer_create_modal.from') }}
                  {{ currentOffer.age_from }}
                  {{ $t('offer_create_modal.to') }}
                  {{ currentOffer.age_to }}
                  {{ $t('offer_create_modal.years') }}
                </p>
              </div>
              <div class="offer__summary-option">
                <span>{{ $t('offer_create_modal.invited') }}</span>
                <p>
                  {{ formatAuditory() }}
                </p>
              </div>
            </div>

            <div class="offer__modal-buttons">
              <template v-if="currentOffer.manager && currentOffer.manager.id != loggedUser.id" v-loading="offerLoading">
                <template v-if="!currentOffer.application">
                  <app-button href="#" class="button button__success" @click.native="sendApplication">
                    <i class="fa fa-check"></i> {{ $t('modal_offer_model.accept') }}
                  </app-button>
                  <app-button href="#" class="button button__primary" @click.native="ignoreApplication">
                    <i class="fa fa-trash"></i> {{ $t('modal_offer_model.hide') }}
                  </app-button>
                </template>
              </template>
              <template v-else>
                <app-button
                  v-if="['active', 'inspection'].indexOf(currentOffer.offer_model_status) !== -1"
                  href="#"
                  class="button button__default button_cancel"
                  @click.native="closeOffer"
                >
                  <i class="fa fa-trash"></i> {{ $t('modal_offer_model.cancel') }}
                </app-button>
              </template>
              <!--<div v-else>
                <div :class="`button button__${applicationColors[currentOffer.application.status]}`">
                  <span class="button__text">
                    <i :class="`fa fa-${applicationIcons[currentOffer.application.status]}`"></i>
                    {{ $t(`modal_offer_model.application.status.${currentOffer.application.status}`) }}
                  </span>
                </div>
              </div>-->
              <!--<app-button href="#" class="button button__primary" @click.native="refuseOffer">
                <i class="fas fa-times"></i> {{ $t('modal_offer_model.refuse') }}
              </app-button>
              <app-button href="#" class="button button__success" @click.native="agreeOffer">
                <i class="fas fa-check"></i> {{ $t('modal_offer_model.agree') }}
              </app-button>-->
            </div>
          </div>
          <div class="tab-content"
               v-if="activeTab == '2' && !noChat"
               key="chat"
          >
            <!--
               v-if="currentOffer.application && currentOffer.application.status == 'accepted'"-->
            <div class="offer__chat-wrapper">
              <ChatFrame>

              </ChatFrame>
            </div>
          </div>
        </transition>
      </v-skeleton-loader>
    </div>

    <modal-user
      ref="modalUser"
      @closed="onModalUserClose"
    />
    <modal-close-offer ref="modalCloseOffer"/>
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import AppButtonLinear from '@/components/AppButtonLinear';
import Chip from '@/components/Chip';
import ModalUser from '@/components/ModalUser';
import GirlSmallProfile from '@/components/GirlSmallProfile';
import ModalCloseOffer from './components/ModalCloseOffer';
import ModelsSlider from './components/ModelsSlider';
import ChatFrame from './components/ChatFrame';
import { getOfferModelStatus } from '@/utils/offers';
import { formatDate } from '@/utils';
import Socket from "@/utils/socket";
import './styles.css';

export default {
  props: {
    offerId: {},
    offer: {},
    noChat: {
      default: false
    }},

  components: {
    AppModal,
    AppButton,
    AppButtonLinear,
    Chip,
    ModalUser,
    GirlSmallProfile,
    ModelsSlider,
    ChatFrame,
    ModalCloseOffer
  },

  computed: {
    ...mapGetters(['currentOffer', 'currentOfferGoingUsers', 'loggedUser', 'isGirl']),

    title() {
      if (!this.currentOffer.country) { return this.currentOffer.category ? this.currentOffer.category.name : ''; }
      return this.currentOffer.country ? (this.currentOffer.country.name + (this.currentOffer.city ? `, ${this.currentOffer.city.name}` : '')) : '';
    },

    chipContent() {
      return this.currentOffer.offer_model_status == 'active' &&
        this.currentOffer.manager.id !== this.loggedUser.id &&
        this.currentOffer.application &&
        this.currentOffer.application.status
        ?
        this.$t(`modal_offer_model.application.status.${this.currentOffer.application.status}`) :
        this.$t(`offer_status.${this.currentOffer.offer_model_status}`);
    },
    chipClass() {
      return 'offer_model_chip_' + (
        this.currentOffer.offer_model_status == 'active' &&
        this.currentOffer.application &&
        this.currentOffer.application.status &&
        this.currentOffer.manager.id !== this.loggedUser.id
          ?
          this.currentOffer.application.status
          :
          this.currentOffer.offer_model_status
      )
    },
    cityImage() {
      const default_image = 'https://static.themoscowtimes.com/image/1360/37/407968_1000x666_1024_390eba4e9dc1ad1f24553dbc733a2045.jpg';
      if (this.loading) {
        if (this.offer && this.offer.city && this.offer.city.image_path) { return `https://d2ko3u8nw1ndor.cloudfront.net/${this.offer.city.image_path}`; }
        return default_image;
      }
      if (!this.currentOffer.city) { return default_image; }
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.currentOffer.city.image_path}`;
    },

    managerAvatar() {
      if (this.currentOffer && this.currentOffer.manager && this.currentOffer.manager.avatar) { return this.currentOffer.manager.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },

    userAvatar(user) {
      if (user && user.avatar) { return user.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },

    usersGoing() {
      return this.currentOffer && this.currentOffer.users_going ? this.currentOffer.users_going.filter((user) => user.id !== this.currentOffer.manager.id) : []
    },

    usersRequesting() {
      return this.currentOffer.users_requesting
    },
    isMineOffer() {
      return this.currentOffer.manager && this.currentOffer.manager.id == this.loggedUser.id
    }
  },

  data: () => ({
    loading: false,
    modal_left_hidden: false,
    overscrolled: false,
    scrollContainer: null,
    offerLoading: false,
    applicationColors:
    {
      'ignored': 'default',
      'sended': 'default',
      'rejected': 'primary',
      'accepted': 'success'
    },
    applicationIcons:
    {
      'ignored': 'trash',
      'sended': 'clock',
      'rejected': 'times',
      'accepted': 'check'
    },
    activeTab: 1,
    tab: 1,
    descriptionEditing: false,
    form: {
      description: ''
    },

    onAplicationSended(offer_user) {
      this.loadOffer();
    },
  }),

  watch: {
    offerId: {
      immediate: true,
      handler(newVal, oldVal) {
        this.loadOffer()
        .then(() => this.loadDialog())
      },
    },
  },
  methods: {
    getOfferModelStatus,
    formatDate,

    open() {
      return this.loadOffer().then(() => {
        this.$store.dispatch('offers/setViewed', this.offerId)
        this.addChatMessagesListener()
        this.$nextTick(this.$refs.modal.open());
        this.$nextTick(this.initScrollListener.bind(this));
        this.$nextTick(this.onTabSwitched.bind(this, this.activeTab));
      })
    },

    saveOffer() {
      this.loading = true;
      this.$store.dispatch('offers/update', {
        id: this.currentOffer.id,
        ...this.form
      })
      .then(() => {
        this.closeEditDescription()
      })
      .finally(() => this.loading = false)
    },

    editDescription() {
      this.descriptionEditing = true
      this.form.description = this.currentOffer.description
    },
    closeEditDescription() {
      this.descriptionEditing = false
      this.form.description = ''
    },
    addChatMessagesListener() {
      Socket.getInstance().channel('App.Dialog.' + this.currentOffer.dialog.id)
      .listen('.DialogMessage', ({dialog, message}) => {
        this.$store.dispatch('messages/appendNewMessage', {message,dialog});
        return;
      })
    },

    removeChatMessagesListener() {
      Socket.getInstance().leave('App.Dialog.' + this.currentOffer.dialog.id)
    },

    loadDialog() {
      this.$store.dispatch('messages/resetMessages');
      this.$store.dispatch('messages/setCurrentDialog', this.currentOffer.dialog);
      this.$store.dispatch('messages/fetchMessages', this.currentOffer.dialog.id);
    },

    close() {
      this.removeChatMessagesListener()
      this.removeListener();
      this.$refs.modal.close();
      this.$emit('closed');
    },

    openUserModal(user) {
      this.modal_left_hidden = true;
      this.$refs.modalUser.open(user);
    },

    onModalUserClose() {
      this.open()
      .then(() => this.modal_left_hidden = false)
    },

    onTabSwitched(tab) {
      const msgWrapper = document.querySelector('.modal__msg_wrapper');

      /*if(msgWrapper)
      {
        switch(tab)
        {
          case 2: msgWrapper.classList.add('chat-wide'); break;
          default: msgWrapper.classList.remove('chat-wide'); break;
        }
      }*/
      this.activeTab = tab;
    },

    async loadOffer() {
      this.loading = true;
      return this.$store.dispatch('offers/loadOfferModel', this.offerId)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
          this.close();
        });
    },

    initScrollListener() {
      const scrollContainer = document.querySelector('.offer__modal .__scroll');
      if(scrollContainer)
      {
        this.scrollContainer = scrollContainer;
        this.scrollContainer.addEventListener('scroll', this.scrollHandler.bind(this));
      }
    },

    scrollHandler(event) {
      const target = event.target || event.currentTarget;
      const scrollTop = target.scrollTop;
      if (scrollTop >= 160) {
        if (this.overscrolled) { return; }
        document.querySelector('.offer__modal .modal__close').style.color = '#242a38';
        this.overscrolled = true;
      } else {
        if (!this.overscrolled) { return; }
        document.querySelector('.offer__modal .modal__close').style.color = '#fff';
        this.overscrolled = false;
      }
    },

    removeListener() {
      if (this.scrollContainer) { this.scrollContainer.removeEventListener('scroll', this.scrollHandler.bind(this)); }
    },

    agreeOffer() {
      this.offerLoading = true;
      this.$store.dispatch('offers/agreeFromModel', this.offer.offer_link_id)
        .then(() => {
          this.offerLoading = false;
          Message.success('Вы согласились на предложение. Ожидайте ответ агента');
          if (this.currentOffer.manager.whatsapp) {
            this.openWhatsappDialog();
          }
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    refuseOffer() {
      this.offerLoading = true;
      this.$store.dispatch('offers/refuseFromModel', this.offer.offer_link_id)
        .then(() => {
          this.offerLoading = false;
          Message.success('Вы отказались от предложения');
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    closeOffer() {
      this.$refs.modalCloseOffer.open()
      return
      this.offerLoading = true;
      this.$store.dispatch('offers/close', this.offer.id)
        .then((result) => {
          this.offerLoading = false;
          Message.success('Вы отменили вписку');
          this.close()
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    sendApplication() {
      this.offerLoading = true;
      this.$store.dispatch('offers/sendApplication', this.offer.id)
        .then(() => {
          this.offerLoading = false;
          Message.success('Вы отправили заявку на вписку!');
          this.loadOffer();
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    ignoreApplication() {
      this.offerLoading = true;
      this.$store.dispatch('offers/ignoreApplication', this.offer.id)
        .then(() => {
          this.offerLoading = false;
          Message.success('Теперь вы игнорируете это вписку.');
          this.close();
        })
        .catch(() => {
          this.offerLoading = false;
          Message.error('Произошла ошибка');
        });
    },

    openWhatsappDialog() {
      const message = encodeURI(
        `Здравствуйте. Я ${this.loggedUser.name} из приложения vue-example по поводу вашего предложения. Моя страница в приложении vue-example://${
          this.isGirl ? 'model/' : 'manager/'
        }${this.loggedUser.id}`,
      );

      window.open(
        `http://api.whatsapp.com/send?phone=${this.currentOffer.manager.whatsapp.replace('+', '')}&text=${message}`,
      );
    },

    formatAuditory()
    {
      let types = []
      if(this.currentOffer.search_male) types.push(this.$t('offer_create_modal.male'));
      if(this.currentOffer.search_female) types.push(this.$t('offer_create_modal.female'));
      if(this.currentOffer.only_verified) types.push(this.$t('offer_create_modal.only_verificated'));
      return types.join(', ');
    },
  },

  beforeDestroy() {
    this.removeListener();
  },
};
</script>
<style scoped>

  .tabs {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
  }

  .tab {
    color: rgb(36, 42, 56);
  }

  .offer__bottom {
    bottom: 40px;
  }

  .buttons .button {
    padding: 6px 8px;
  }

</style>
