.logo__img {
  width: 73px;
  height: auto;
}
.store__links {
  display: flex;
  padding-top: 20px;
  padding-right: 10px;
  width: 100%;
  flex-direction: row;
}
.store__links a {
  flex: 1 0;
}
.store__links a img {
  width: 100%;
}
.store__links a:last-child {
  margin-left: 5px;
}
