<template>
  <div class="sidebar__block">
    <div class="user__block" @click="$router.push('/settings/profile')">
      <div class="user__avatar" :style="`background-image: url(${userAvatar})`">
        <div class="user__icon_edit">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div class="user__block-right">
        <div class="user__block-title">{{ loggedUser.name }}</div>
        <span class="user__block-info">{{ $t(userType) }}</span>
      </div>
    </div>
    <app-menu />
    <div class="menu__buttons">
      <app-button-linear class="pulse" v-if="!isSubscriptionPayed" @click.native="openSubscriptionModal">
        <img src="/static/img/icons8-high-priority-100.png">
        {{ $t('sidebar.pay_for_access') }}
      </app-button-linear>
      <app-button-linear class="pulse" v-if="!profileIsVerified" @click.native="openVerificationModal">
        <img src="/static/img/icons8-id-not-verified-64.png">
        {{ $t('sidebar.verification') }}
      </app-button-linear>
      <app-button-linear class="referral__button" @click.native="openReferralsModal">
        <img src="/static/img/icons8-money.png">
        <div v-html="$t('sidebar.referral_program')"></div>
      </app-button-linear>
    </div>
    <div class="store__links">
      <!--<a href="https://apps.apple.com/ru/app/vue-example/id1457158473" target="_blank">
        <img src="/static/img/app-store.png">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.lifemodels" target="_blank">
        <img src="/static/img/google-play.png">
      </a>-->
    </div>
  </div>
</template>

<script>
import './app-logo.css';
import AppButton from '../AppButton';
import AppButtonLinear from '../AppButtonLinear';
import AppMenu from '../AppMenu';
import { mapGetters } from 'vuex';
import EventBus from '@/bus';

export default {
  components: {
    AppButton,
    AppMenu,
    AppButtonLinear,
  },

  data: () => ({
    overlay: false,
  }),

  computed: {
    ...mapGetters([
      'loggedUser',
      'userType',
      'profileIsVerified',
      'isSubscriptionPayed',
    ]),

    userAvatar() {
      if (this.loggedUser && this.loggedUser.avatar) { return this.loggedUser.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },
  },

  methods: {
    openVerificationModal() {
      EventBus.$emit('openVerificationModal');
    },

    openReferralsModal() {
      EventBus.$emit('openReferralsModal');
    },

    openSubscriptionModal() {
      EventBus.$emit('openSubscriptionModal');
    },
  },
};
</script>

<style>
</style>
