.userlist__modal {
  z-index: 1000;
}

.userlist__modal .modal__close {
  color: var(--main-text-color);
}

.userlist__modal-content {
  padding: 20px 20px 80px;
  color: var(--main-text-color);
  text-align: center;
}

.userlist__modal .modal__msg_content {
  margin: 0;
  padding: 0;
}

.userlist__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
  width: 460px;
}

.userlist__modal .model__avatar {
  max-width: 54px;
  max-height: 54px;
  margin-left: auto;
  margin-right: auto;
}

.userlist__modal > .modal__msg_wrapper {
  position: relative;
  transition: all 0.3s;
  left: 0;
}
