<template>
  <app-modal class="userlist__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <div class="userlist__modal-content" v-loading="loading">
      <GirlSmallProfile
        v-for="user in users"
        :key="user.id"
        :user="user"
        ref="modalUser"
        @click.native="openUserModal(user)"
      />
    </div>
    <modal-user
      ref="modalUser"
      @closed="onModalUserClose"
    />
  </app-modal>
</template>

<script>
  import AppModal from '@/components/AppModal';
  import AppButton from '@/components/AppButton';
  import GirlSmallProfile from '@/components/GirlSmallProfile';
  import ModalUser from '@/components/ModalUser';
  import './styles.css';
  import { mapGetters } from 'vuex';
  import EventBus from '@/bus';

  export default {
    props: {'users': Array},
    components: {
      AppModal,
      AppButton,
      GirlSmallProfile,
      ModalUser
    },
    watch: {
      users(val) {
        console.log(val)
      }
    },
    data: () => ({
      loading: false,
      modal_left_hidden: false
    }),

    computed: {
      ...mapGetters(['loggedUser', 'isGirl']),
    },

    methods: {
      async open() {
        console.log(this.users)
        this.$refs.modal.open();
      },
      openUserModal(user) {
        this.modal_left_hidden = true
        this.$refs.modalUser.open(user);
      },
      onModalUserClose() {
        this.open()
        .then(() => this.modal_left_hidden = false)
      },
    }
  };
</script>
