<template>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item" v-for="link in links" :key="link.path">
        <router-link
          :to="link.path"
          class="navigation__link"
          :class="{navigation__link_active: false /*$route.path.startsWith(link.path)*/ }"
        >
          <i :class="link.icon"></i>
          <span>{{ $t('pages.' + link.title) }}</span>
        </router-link>
      </li>
      <li class="navigation__item">
        <a href="#"
           class="navigation__link"
           @click.prevent="openSupport"
        >
          <i class="far fa-question-circle"></i>
          <span>{{ $t('support') }}</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import './app-menu.css';

export default {
  computed: {
    links() {
      return [
        {title: 'offers', path: '/offers', icon: 'far fa-list-alt'},
        /*{title: 'journeys', path: '/journeys', icon: 'fas fa-plane'},*/
        {title: 'offers_my', path: '/offers/my', icon: 'far fa-list-alt'},
        {title: 'messages', path: '/messages', icon: 'fas fa-comments'},
        {title: 'settings', path: '/settings', icon: 'fas fa-cog'},
      ]
    }
  },
  methods: {
    openSupport() {
      Intercom('show');
    },
  },
};
</script>
