<template>
  <div class="code__input">
      <input
        type="tel"
        pattern="[0-9]*"
        maxlength="1"
        aria-autocomplete="none"
        autocomplete="new-code"
        name="code"
        :value="num"
        @keyup="onKeyUp($event, idx)"
        :ref="`input_${idx}`"
        v-for="(num, idx) in values"
        :key="idx"
        class="code__input-field"
      />
  </div>
</template>

<script>
export default {
  props: {
    length: {
      type: Number,
      default: () => 4,
    },
  },

  data() {
    return {
      values: new Array(this.length).fill(''),
      code: [],
    };
  },

  watch: {
    length(newVal, oldVal) {
      this.reset();
    },
  },

  methods: {
    processInput(e, idx) {
      const num = e.target.value;
      if (!/^[0-9]$/.test(num)) return;
      this.values[idx] = num;
      if (idx !== this.length - 1) {
        this.$refs[`input_${idx + 1}`][0].focus();
      }
      if (this.values.every(num => num !== '')) {
        this.$emit('complete', this.values.join(''));
      }
    },

    onKeyUp(e, idx) {
      if (e.keyCode === 8 && idx !== 0) {
        this.values[idx - 1] = '';
        this.$refs[`input_${idx - 1}`][0].focus();
      } else {
        this.processInput(e, idx);
      }
    },

    reset() {
      this.values = new Array(this.length).fill('');
    },

    focus() {
      this.$refs.input_0[0].focus();
    },
  },
};
</script>

<style>
  .code__input-field {
    border: solid 1px #a8adb7;
    border-right: none;
    font-size: 20px;
    color: #525461;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: initial;
    width: 58px;
    height: 54px;
  }
  input.code__input-field:focus {
    outline: none;
    border: 1px solid #006fff;
    caret-color: #006fff;
  }
  input.code__input-field:focus + input {
    border-left: none;
  }
  .code__input-field:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .code__input-field:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: solid 1px #a8adb7;
  }
  @media(max-width: 767px) {
    .code__input-field {
      width: 46px;
      height: 50px;
    }
  }
</style>
