<template>
  <app-modal class="referrals__modal" ref="modal">
    <div class="referrals__modal-content" v-loading="loading">
      <h3>{{ $t('referrals_modal.title') }}</h3>
      <p>{{ $t('referrals_modal.invite_your_friends') }}</p>
      <p class="invite__paragraph">{{ $t('referrals_modal.your_invite_code') }}</p>
      <div class="invite__code" @click="copyInvite">
        <i class="far fa-copy"></i>
        {{ loggedUser.invite }}
      </div>
      <p>{{ $t('referrals_modal.for_user_listed') }}</p>
      <template v-if="!isGirl">
        <p>{{ $t('referrals_modal.you_get_free_month') }}</p>
      </template>
      <template v-else>
        <p>{{ $t('referrals_modal.you_get_free_offer') }}</p>
      </template>
      <h3>{{ $t('referrals_modal.your_statistics') }}</h3>
      <p>{{ $t('referrals_modal.from_you_registered') }} {{ stats.all_referrals_count }} {{ $t('referrals_modal.users') }}</p>
      <p>{{ $t('referrals_modal.registrations_24h') }}: {{ stats.day_referrals_count }} {{ $t('referrals_modal.users') }}</p>
      <p>{{ $t('referrals_modal.current_bonus_balance') }}: {{ loggedUser.referral_balance }}</p>
      <template v-if="!isGirl">
        <p>{{ $t('referrals_modal.bonus_month_accrued') }}: {{ stats.bonus_months_count }}</p>
        <p>{{ $t('referrals_modal.additional_month') }}</p>
      </template>
    </div>
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import { Message } from 'element-ui';
import { copyToClipboard } from '@/utils';
import './styles.css';
import { fetchStats } from '@/api/referrals';
import { mapGetters } from 'vuex';

export default {
  components: {
    AppModal,
    AppButton,
  },

  data: () => ({
    loading: false,
    stats: {},
  }),

  computed: mapGetters(['loggedUser', 'isGirl']),

  methods: {
    open() {
      this.$refs.modal.open();
    },

    copyInvite() {
      copyToClipboard(this.loggedUser.invite);
      Message.success(this.$t('referrals_modal.invite_code_copied'));
    },

    fetchStats() {
      fetchStats()
        .then((data) => {
          this.stats = data;
        })
        .catch(() => {

        });
    },
  },

  mounted() {
    this.fetchStats();
  },
};
</script>
