.referrals__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
}
.referrals__modal .modal__close {
  color: var(--main-text-color);
}
.referrals__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.referrals__modal .modal__msg_content {
  margin: 0;
  padding: 0;
  position: relative;
}

.referrals__modal-content {
  padding: 20px;
  color: var(--main-text-color);
  text-align: center;
}

.referrals__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.referrals__modal-content p {
  text-align: left;
  margin-bottom: 0;
}

.invite__paragraph {
  text-align: center!important;
  margin-bottom: 0!important;
  font-weight: 500;
}

.invite__code {
  margin: 10px 0;
  background: #eee;
  padding: 5px 10px;
  display: inline-block;
  font-size: 18px;
  border-radius: 5px;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.1s opacity;
}

.invite__code:hover {
  opacity: 0.7;
}

.invite__code i {
  margin-right: 3px;
}

.referrals__modal-content img {
  height: 260px;
  margin-bottom: 20px;
}

.referrals__modal-content video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #eee
}

.referrals__modal-content canvas {
  display: none;
}

@media(max-width: 767px) {
  .referrals__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}
