<template>
  <app-modal class="phone__verification__modal" ref="modal">
    qwrqwrr
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';

export default {
  components: {
    AppModal,
  },

  methods: {
    open() {
      this.$refs.modal.open();
    },
  },
};
</script>
