.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.column-3 {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  padding-right: 15px;
  position: relative;
}
.column-2 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  position: relative;
}
.column.leftside {
  height: 100%;
  padding: 30px 0;
  top: 0;
}
.column.content {
  position: relative;
  padding: 30px 0 0 0;
  height: calc(100vh - 100px - 10px - 30px);

  -webkit-box-align: start;
  align-items: flex-start;
   flex-shrink: 1;
   -webkit-box-flex: 1;
   flex-grow: 1;
  width: 78%;
}

.column.content > div:first-child {
  width: 100%;
  height: 80%;
}

.leftside .sidebar__block {
  width: 220px;
}

@media(max-width: 767px) {
  .column-3 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .column-2 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .column.leftside {
    display: none;
  }
  .column.content {
    padding: 15px 15px 56px;
    min-height: calc(100vh - 42px);
    height: auto;
    width: 100%;
  }

  .column.content > div.user__profile-wrapper {
    width: calc(100% + 30px);
  }
}
