<template>
  <app-modal class="offer_create_modal" ref="modal" v-loading="loading">
    <h3>{{ $t('modal_create_tour.title') }}</h3>
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
      >
        <v-combobox
          v-model="country"
          :items="countries"
          :label="$t('modal_create_tour.tour_country')"
          :rules="[v => !!v || $t('modal_create_tour.select_country')]"
          item-value="id"
          item-text="name"
        ></v-combobox>

        <v-textarea
          name="description"
          v-model="form.description"
          :rules="rules.description"
          :counter="1000"
          :label="$t('modal_create_tour.tour_description')"
          :rows="1"
          required
          auto-grow
        ></v-textarea>
      </v-form>

    <div class="offer__create-buttons only_next">
      <app-button class="button button__success" @click.native="save">
        {{ $t('modal_create_tour.create') }}
      </app-button>
    </div>
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import './styles.css';

export default {
  components: {
    AppModal,
    AppButton,
  },

  data: vm => ({
    valid: true,

    rules: {
      description: [
        v => !!v || vm.$t('offer_create_modal.enter_description'),
        v => (v && v.length <= 1000) || vm.$t('offer_create_modal.description_max_1000'),
        v => (v && v.length >= 10) || vm.$t('offer_create_modal.description_min_10'),
      ],
    },

    country: null,

    form: {
      name: '',
      description: '',
      country: null,
    },

    loading: false,
  }),

  computed: {
    ...mapGetters([
      'countries',
    ]),
  },

  watch: {
    country(newVal, oldVal) {
      this.form.country = newVal.id;
    },
  },

  methods: {
    open() {
      this.$refs.modal.open();
    },

    close() {
      this.$refs.modal.close();
    },

    save() {
      if (!this.$refs.form.validate()) { return; }
      this.loading = true;
      this.$store.dispatch('tours/createTour', this.form)
        .then(() => {
          this.loading = false;
          this.close();
          Message.success(this.$t('modal_create_tour.tour_sent_for_review'));
        })
        .catch(() => {
          this.loading = false;
        });
    },


    async loadParameters() {
      if (!this.countries.length) {
        await this.$store.dispatch('options/fetchCountries');
      }
    },
  },

  mounted() {
    this.loadParameters();
  },
};
</script>
