.offer_create_modal .modal__close {
  color: var(--main-text-color);
}

.offer_create_modal .modal__msg_wrapper {
  position: relative;
}

.offer_create_modal .modal__msg_content {
  margin: 30px;
  padding-bottom: 86px;
}

.offer_create_modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.offer_create_modal h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--main-text-color);
}


.offer__create-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.offer__create-buttons .button {
  width: 45%;
}

.offer__create-buttons.only_next .button {
  width: 100%;
}

.offer__create-buttons .button i {
  position: absolute;
  left: 15px;
}

.offer__create-buttons .button__success i {
  right: 15px;
  left: auto;
}

.offer__summary-option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid #eee;
  padding: 12px 0;
}
.offer__summary-option:first-child {
  border-top: none;
}
.offer__summary-option.offer__summary-option_description {
  flex-direction: column;
}

.offer__summary-option span {
  font-weight: 500;
  line-height: 24px;
}

.offer__summary-option p {
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

@media(max-width: 767px) {
  .offer_create_modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
  .offer_create_modal .modal__msg_content {
    padding: 30px 25px 140px;
    margin: 0;
  }
  .offer__summary-option {
    flex-direction: column;
  }
  .offer__summary-option span {
    margin-bottom: 5px;
  }
  .offer__create-buttons {
    position: fixed;
  }
}
