<template>
  <div class="user__profile-wrapper">
    <div class="user__profile">
      <div class="user__top-title">
        <div class="user__top-title-back" @click="$router.push('/settings/profile')">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="user__top-title-content">
          {{ loggedUser.name }}
        </div>
      </div>
      <div class="user__profile-content" v-loading="loading">
        <v-alert type="warning" v-if="isGirl && !isActive" style="margin-top: 20px">
          {{ $t('anceta.fill_application') }}
        </v-alert>
        <!--<v-alert type="warning" v-if="!isGirl && !loggedUser.whatsapp" style="margin-top: 20px">
          {{ $t('anceta.fill_whatsapp') }}
        </v-alert>-->
        <div class="user__summary">
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  :label="$t('anceta.name')"
                  name="name"
                  type="text"
                  v-model="form.name"
                  :rules="rules.name"
                />
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Whatsapp"
                  name="whatsapp"
                  type="text"
                  v-mask="'+##########?#####'"
                  v-model="form.whatsapp"
                  :rules="rules.whatsapp"
                />
              </v-col>
            </v-row>
            <v-row>
              <!--<v-col cols="12" sm="12">
                <v-select
                  v-model="form.offer_categories"
                  :items="categories"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.offer_categories')"
                  item-value="id"
                  item-text="name"
                  multiple
                ></v-select>
              </v-col>-->
              <v-col cols="12" sm="6">
                <v-combobox
                  v-model="country"
                  :items="countries"
                  :label="$t('anceta.country')"
                  :rules="[v => !!v || $t('anceta.select_country')]"
                  item-value="id"
                  item-text="name"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="6">
                <v-combobox
                  v-model="city"
                  :items="cities"
                  :label="$t('anceta.city')"
                  :rules="[v => !!v || $t('anceta.select_city')]"
                  item-value="id"
                  item-text="name"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="form.gender"
                  :items="[{id: 'male', name: $t('anceta.male') }, {id: 'female', name: $t('anceta.female') }]"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.gender')"
                  item-value="id"
                  item-text="name"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="form.hair"
                  :items="hairs"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.hair_color')"
                  item-value="id"
                  item-text="name"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-select
                  v-model="form.eye"
                  :items="eyes"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.eye_color')"
                  item-value="id"
                  item-text="name"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="form.nationality"
                  :items="nationalities"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.nationality')"
                  item-value="id"
                  :item-text="loggedUser.gender == 'male' ? 'name_male' : 'name_female'"
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="form.visas"
                  :items="visas"
                  :menu-props="{ maxHeight: '400' }"
                  :label="$t('anceta.visas')"
                  item-value="id"
                  item-text="name"
                  multiple
                ></v-select>
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  :label="$t('anceta.age')"
                  name="age"
                  type="number"
                  v-mask="'##'"
                  v-model="form.age"
                  :rules="rules.age"
                />
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  :label="$t('anceta.height')"
                  name="height"
                  type="text"
                  v-mask="'###'"
                  v-model="form.height"
                  :rules="rules.height"
                />
              </v-col>
              <v-col cols="12" sm="4">
                <v-text-field
                  :label="$t('anceta.weight')"
                  name="weight"
                  type="text"
                  v-mask="'##?#'"
                  v-model="form.weight"
                  :rules="rules.weight"
                />
              </v-col>
              <v-col cols="12" sm="12">
                <v-textarea
                  :counter="1000"
                  :rows="1"
                  required
                  auto-grow
                  :label="$t('anceta.aboutme')"
                  name="aboutme"
                  v-model="form.aboutme"
                  type="textarea"
                ></v-textarea>
              </v-col>
              <template v-if="form.gender=='female'">
                <v-col cols="12" sm="4">
                  <v-text-field
                    :label="$t('anceta.bust')"
                    name="тфьу"
                    type="text"
                    v-mask="'##?#'"
                    v-model="form.bust"
                    :rules="rules.bust"
                  />
                </v-col>
                <v-col cols="12" sm="4">
                  <v-text-field
                    :label="$t('anceta.waist')"
                    name="тфьу"
                    type="text"
                    v-mask="'##?#'"
                    v-model="form.waist"
                    :rules="rules.waist"
                  />
                </v-col>
                <v-col cols="12" sm="4">
                  <v-text-field
                    :label="$t('anceta.hip')"
                    name="тфьу"
                    type="text"
                    v-mask="'##?#'"
                    v-model="form.hip"
                    :rules="rules.hip"
                  />
                </v-col>
                <v-col cols="12" sm="4">
                  <v-select
                    v-model="form.boobs_size"
                    :rules="rules.boobs_size"
                    :items="boobs"
                    :menu-props="{ maxHeight: '400' }"
                    :label="$t('anceta.boobs_size')"
                    item-value="id"
                    item-text="name"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-checkbox
                    :value="form.boobs_type === 'silicon'"
                    @input="form.boobs_type = $event ? 'silicon' : 'natural'"
                    :label="$t('anceta.silicon_boobs')"
                  />
                </v-col>
              </template>
            </v-row>
            <app-button href="#" class="button button__primary save_button" @click.native="save">
              {{ $t('anceta.save') }}
            </app-button>
          </v-form>
        </div>
      </div>
    </div>
    <div class="user__profile-news">
      <div class="user__top-title">
        <div class="user__top-title-content">
          Подсказки
        </div>
      </div>
      <v-expansion-panels
        :accordion="true"
      >
        <v-expansion-panel
          v-for="(question, i) in questions"
          :key="i"
        >
          <template v-if="question.question">
            <v-expansion-panel-header>{{ question.question }}</v-expansion-panel-header>
            <v-expansion-panel-content>
              {{ question.answer }}
            </v-expansion-panel-content>
          </template>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>

<script>
import AppButton from '@/components/AppButton';
import { mapGetters } from 'vuex';
import { fetchCitiesForCountries } from '@/api/geo';
import { Message } from 'element-ui';

export default {

  components: {
    AppButton,
  },

  data: vm => ({
    loading: false,
    valid: false,

    city: null,
    country: null,
    cities: [],
    boobs: (new Array(10)).fill(0).map((el, index) => ({
      id: `${index + 1}`,
      name: `${index + 1} ${vm.$t('anceta.size')}`,
    })),

    questions: [],

    form: {
      whatsapp: '',
      name: '',
      aboutme: ''
    },

    rules: {
      name: [
        v => !!v || vm.$t('anceta.name_not_filled'),
        v => (v && v.length > 1) || vm.$t('anceta.name_min'),
        v => (v && v.length < 15) || vm.$t('anceta.name_max'),
      ],
      whatsapp: [
        v => (!v || (v.length >= 10 && v.length <= 15)) || vm.$t('anceta.phone_length'),
      ],
      age: [
        v => !!v || vm.$t('anceta.age_fill'),
        v => (v && v >= 18) || vm.$t('anceta.age_min'),
        v => (v && v <= 60) || vm.$t('anceta.age_max'),
      ],
      height: [
        v => !!v || vm.$t('anceta.height_fill'),
        v => (v && v >= 130) || vm.$t('anceta.height_min'),
        v => (v && v <= 240) || vm.$t('anceta.height_max'),
      ],
      weight: [
        v => !!v || vm.$t('anceta.weight_fill'),
        v => (v && v >= 30) || vm.$t('anceta.weight_min'),
        v => (v && v <= 240) || vm.$t('anceta.weight_max'),
      ],
      bust: [
        v => !!v || vm.$t('anceta.bust_fill'),
        v => (v && v >= 40) || vm.$t('anceta.bust_min'),
        v => (v && v <= 200) || vm.$t('anceta.bust_max'),
      ],
      waist: [
        v => !!v || vm.$t('anceta.waist_fill'),
        v => (v && v >= 40) || vm.$t('anceta.waist_min'),
        v => (v && v <= 200) || vm.$t('anceta.waist_max'),
      ],
      hip: [
        v => !!v || vm.$t('anceta.hip_fill'),
        v => (v && v >= 40) || vm.$t('anceta.hip_min'),
        v => (v && v <= 200) || vm.$t('anceta.hip_max'),
      ],
      boobs_size: [
        v => !!v || vm.$t('anceta.boobs_size_fill'),
        v => (v && v >= 1) || vm.$t('anceta.boobs_size_min'),
        v => (v && v <= 10) || vm.$t('anceta.boobs_size_max'),
      ],
    },
  }),

  computed: {
    ...mapGetters([
      'loggedUser',
      'userMedias',
      'profileIsVerified',
      'isGirl',
      'isActive',
      'countries',
      'hairs',
      'eyes',
      'nationalities',
      'visas',
      'categories'
    ]),
  },

  watch: {
    country(newVal, oldVal) {
      this.form.country = newVal.id;
      this.form.countryName = newVal ? newVal.name : null;
      this.loadCitiesForCurrentCountry();
    },
    city(newVal, oldVal) {
      this.form.city = newVal ? newVal.id : null;
      this.form.cityName = newVal ? newVal.name : null;
    },
  },

  methods: {

    async loadParameters() {
      this.fetchFaqQuestions()

      if (!this.categories.length) {
        this.loading = true;
        await this.$store.dispatch('options/fetchOffersCategories');
        this.loading = false;
      }
      if (!this.hairs.length) {
        await this.$store.dispatch('options/fetchMainOptions');
      }
      if (!this.countries.length) {
        await this.$store.dispatch('options/fetchCountries');
      }
    },

    loadCitiesForCurrentCountry() {
      this.loading = true;
      if (this.cities.length) { this.city = null; }
      fetchCitiesForCountries(this.form.country)
        .then((response) => {
          this.cities = response.data;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },

    fetchFaqQuestions() {
      this.$store.dispatch('options/fetchFaqQuestions')
      .then(({data}) => {
        this.questions = data
      })
      .catch(e => console.log(e))
    },

    save() {
      if (!this.$refs.form.validate()) { return; }

      const beforeIsNotActive = !this.isActive;

      this.loading = true;
      this.$store.dispatch('user/updateUser', this.form)
        .then(() => {
          this.loading = false;
          Message.success(this.$t('anceta.profile_saved'));
          // если это первое заполенние анкеты, то отправляем на загрузку фоток
          if (beforeIsNotActive) {
            this.$router.push('/settings/profile');
          }
        })
        .catch(() => {
          this.loading = false;
          Message.error(this.$t('anceta.profile_error_save'));
        });
    },
  },

  mounted() {
    this.form = Object.assign({}, this.loggedUser);
    if (this.loggedUser.country) {
      this.country = { id: this.loggedUser.country, name: this.loggedUser.countryName };
    }
    if (this.loggedUser.city) {
      this.city = { id: this.loggedUser.city, name: this.loggedUser.cityName };
    }
    this.loadParameters();
  },
};
</script>
