<template>
  <div class="settings__screen">
    <div class="header__title">
      <h2>{{ $t('pages.settings') }}</h2>
      <div class="user__block" @click="$router.push('/settings/profile')">
        <div class="user__avatar" :style="`background-image: url(${userAvatar})`">
          <div class="user__icon_edit">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
        <div class="user__block-right">
          <div class="user__block-title">{{ loggedUser.name }}</div>
          <span class="user__block-info">{{ $t(userType) }}</span>
        </div>
      </div>
    </div>
    <v-list class="settings__list">
      <template v-for="(item, index) in items">
        <v-list-item
          v-if="item.action"
          :key="item.title"
          @click="openMenuItem(item.value, $event)"
        >
          <v-list-item-action>
            <i :class="item.action"></i>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider
          v-else-if="item.divider"
          :key="index"
        ></v-divider>

        <v-subheader
          v-else-if="item.header"
          :key="item.header"
        >
          {{ item.header }}
        </v-subheader>
      </template>
    </v-list>
    <v-menu
      v-model="showMenu"
      :position-x="x"
      :position-y="y"
      absolute
      offset-y
    >
      <v-list>
        <v-list-item
          v-for="(item, index) in languages"
          :key="index"
          @click="changeLanguage(item)"
        >
          <v-list-item-title>{{ $t(`languages.${item}`) }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-dialog v-model="changePasswordDialog" persistent max-width="400px">
      <v-card v-loading="changePasswordLoading">
        <v-card-title>
          <span class="headline">{{ $t('settings.change_password') }}</span>
        </v-card-title>
        <v-card-text>
          <v-text-field type="password" :label="$t('settings.new_password')" v-model="new_password" required></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="changePasswordDialog = false">{{ $t('settings.close') }}</v-btn>
          <v-btn color="blue darken-1" text @click="sendPasswordChange">{{ $t('settings.change') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import { changePassword } from '@/api/auth';
import { setLocale } from '@/utils/locale';

export default {
  data: vm => ({
    showMenu: false,
    x: 0,
    y: 0,
    languages: ['ru', 'en'],
    changePasswordDialog: false,
    changePasswordLoading: false,
    new_password: '',
    items: [
      {
        value: 'anceta',
        action: 'far fa-user-circle',
        title: vm.$t('pages.anceta'),
      },
      {
        value: 'notifications',
        action: 'far fa-bell',
        title: vm.$t('settings.notifications'),
      },
      {
        value: 'language',
        action: 'fas fa-language',
        title: vm.$t('settings.change_language'),
      },
      {
        value: 'password',
        action: 'fas fa-key',
        title: vm.$t('settings.change_password'),
      },
      { divider: true },
      {
        value: 'help',
        action: 'fas fa-question-circle',
        title: vm.$t('support'),
      },
      { divider: true },
      {
        value: 'policy',
        action: 'fas fa-info-circle',
        title: vm.$t('settings.privacy'),
      },
      {
        value: 'delete',
        action: 'fas fa-trash-alt',
        title: vm.$t('settings.delete_account'),
      },
      {
        value: 'logout',
        action: 'fas fa-sign-out-alt',
        title: vm.$t('settings.logout'),
      },
    ],
  }),

  computed: {
    ...mapGetters(['loggedUser', 'userType']),

    userAvatar() {
      if (this.loggedUser && this.loggedUser.avatar) { return this.loggedUser.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },
  },

  methods: {
    openMenuItem(type, event) {
      switch (type) {
        case 'anceta':
          this.openAnceta();
          break;
        case 'password':
          this.changePassword();
          break;
        case 'help':
          this.openHelp();
          break;
        case 'policy':
          this.openPolicy();
          break;
        case 'delete':
          this.deleteAccount();
          break;
        case 'logout':
          this.logout();
          break;
        case 'language':
          this.showLanguageSelect(event);
          break;
        default:
          break;
      }
    },

    showLanguageSelect(e) {
      e.preventDefault();
      this.showMenu = false;
      this.x = e.clientX;
      this.y = e.clientY;
      this.$nextTick(() => {
        this.showMenu = true;
      });
    },

    changeLanguage(lang) {
      setLocale(lang);
      window.location.reload();
    },

    openAnceta() {
      this.$router.push('/settings/anceta');
    },

    openHelp() {
      Intercom('show');
    },

    openPolicy() {
      window.open('https://vue-example.life/privacy.html');
    },

    deleteAccount() {

    },

    changePassword() {
      this.changePasswordDialog = true;
    },

    sendPasswordChange() {
      if (!this.new_password || this.new_password.length < 6 || this.new_password.length > 16) {
        Message.error(this.$t('settings.password_length_hint'));
        return;
      }
      this.changePasswordLoading = true;
      changePassword({ password: this.new_password })
        .then(() => {
          this.changePasswordDialog = false;
          this.changePasswordLoading = false;
          this.new_password = '';
          Message.success(this.$t('settings.password_success_changed'));
        })
        .catch(() => {
          Message.error(this.$t('settings.password_error_change'));
        });
    },

    logout() {
      this.$store.dispatch('user/logout')
        .then(() => {
          this.$router.push('/login');
        })
        .catch(() => {
          this.$router.push('/login');
        });
    },
  },
};
</script>
