<template>
  <div class="user__profile-wrapper" v-loading.fullscreen.lock="photosLoading">
    <div class="user__profile">
      <div class="user__top-title">
        <div class="user__top-title-back" @click="$router.push('/settings')">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="user__top-title-content">
          {{ loggedUser.name }}
        </div>
        <div class="user__top-title-settings" @click="$router.push('/settings/anceta')">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div class="user__profile-top">
        <div class="user__profile-top-background" :style="`background-image: url(${userAvatar})`">
          <div class="user__profile-top-gradient"></div>
        </div>
        <div class="user__profile-top-shadow"></div>
      </div>
      <div class="user__profile-main-info">
        <div class="user__profile-main-info_avatar">
          <div class="user__profile-main-info_avatar_image" :style="`background-image: url(${userAvatar})`">
          </div>
          <div class="user__profile-main-info_name">
            <span>{{ loggedUser.name }}</span>
          </div>
          <!--<div class="user__profile-main-info_verified" @click="openVerificationModal">
            <template v-if="profileIsVerified">
              <img src="/static/img/icons8-verified-account-48.png" class="verified_image">
              {{ $t('profile.profile_verified') }}
            </template>
            <template v-else>
              <img src="/static/img/icons8-high-priority-100.png" class="unverified_image">
              {{ $t('profile.profile_not_verified') }}
            </template>
          </div>-->
          <app-button href="/settings/anceta" class="button button__primary">
            {{ $t('profile.edit_profile') }}
          </app-button>
        </div>
      </div>
      <div class="user__profile-content">
        <v-alert type="warning" v-if="isGirl && !medias.length" style="margin-top: 20px">
          {{ $t('profile.upload_photos_to_receive_offers') }}
        </v-alert>
        <div class="profile__photos">
          <v-menu
            bottom
            offset-y
            style="max-width: 600px"
          >
            <template v-slot:activator="{ on }">
              <div class="profile__photo profile__photo-add-image" :class="{pulse: true && !medias.length}" v-on="on">
                <img src="/static/img/add_camera.png">
              </div>
            </template>
            <v-list>
              <v-list-item>
                <v-list-item-title @click="openPhotosPicker">
                  <i class="far fa-images"></i> {{ $t('profile.upload_photo') }}
                </v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title @click="openVideoPicker">
                  <i class="fas fa-video"></i> {{ $t('profile.upload_video') }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <profile-media
            v-for="(media, index) in userMedias"
            :key="`media_${media.id}`"
            :media="media"
            @click.native="mediaIndex = index"
          />
          <div class="media__options" v-if="mediaIndex !== null">
            <app-button class="button button__primary" @click="deleteMedia">
              {{ $t('profile.remove') }}
            </app-button>
          </div>
        </div>
        <div class="user__summary">
          <div class="user__summary-option" v-if="loggedUser.countryName">
            <span>{{ $t('profile.country_city') }}</span>
            <p>{{ loggedUser.countryName + (loggedUser.cityName ? (`, ${loggedUser.cityName}`) : '') }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.whatsapp">
            <span>Whatsapp</span>
            <p>{{ loggedUser.whatsapp }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.phone">
            <span>{{ $t('profile.phone') }}</span>
            <p>{{ loggedUser.phone }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.age">
            <span>{{ $t('profile.age') }}</span>
            <p>{{ loggedUser.age }} {{ $t('profile.years') }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.height">
            <span>{{ $t('profile.height') }}</span>
            <p>{{ loggedUser.height }} {{ $t('profile.sm') }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.weight">
            <span>{{ $t('profile.weight') }}</span>
            <p>{{ loggedUser.weight }} {{ $t('profile.kg') }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.bust">
            <span>{{ $t('profile.parameters') }}</span>
            <p>{{ loggedUser.bust }}/{{ loggedUser.waist }}/{{ loggedUser.hip }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.boobs_size">
            <span>{{ $t('profile.boobs') }}</span>
            <p>{{ loggedUser.boobs_size }} {{ $t('profile.size') }}, {{ loggedUser.boobs_type === 'silicon' ? $t('profile.silicon') : $t('profile.natural') }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.nationalityName">
            <span>{{ $t('profile.nationality') }}</span>
            <p>{{ loggedUser.nationalityName }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.eyeName">
            <span>{{ $t('profile.eye_color') }}</span>
            <p>{{ loggedUser.eyeName }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.hairName">
            <span>{{ $t('profile.hair_color') }}</span>
            <p>{{ loggedUser.hairName }}</p>
          </div>
          <div class="user__summary-option" v-if="loggedUser.visasName">
            <span>{{ $t('profile.visas') }}</span>
            <p>{{ loggedUser.visasName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="user__profile-news">
      <div class="user__top-title">
        <div class="user__top-title-content">
          {{ $t('profile.your_reviews') }}
        </div>
      </div>
      <nothing-found>
        {{ $t('profile.not_having_reviews') }}
      </nothing-found>
    </div>
    <input
      type="file"
      name="photos[]"
      accept="image/heif, image/heic, image/HEIF, image/HEIF, image/heif-sequence, image/heic-sequence, image/jpeg"
      ref="photosInput"
      @change="photosPicked"
      style="display: none"
      multiple
    >
    <input
      type="file"
      name="video"
      accept="video/mp4"
      ref="videoInput"
      @change="videoPicked"
      style="display: none"
    >
    <vue-gallery
      class="images-gallery"
      id="images-gallery"
      :images="medias"
      :index="mediaIndex"
      @close="mediaIndex = null"
    ></vue-gallery>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import ProfileMedia from './components/ProfileMedia';
import NothingFound from '@/components/NothingFound';
import AppButton from '@/components/AppButton';
import PhotosUploaderModal from '@/components/PhotosUploaderModal';
import EventBus from '@/bus';

export default {
  components: {
    ProfileMedia,
    NothingFound,
    PhotosUploaderModal,
    AppButton,
  },

  data: () => ({
    photosLoading: false,
    mediaIndex: null,
  }),

  computed: {
    ...mapGetters([
      'loggedUser',
      'userMedias',
      'profileIsVerified',
      'isGirl',
    ]),

    userAvatar() {
      if (this.loggedUser && this.loggedUser.avatar) { return this.loggedUser.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },

    medias() {
      const mediasCount = this.userMedias.length;

      return this.userMedias.map((media, index) => ({
        title: `${index + 1} ${this.$t('profile.of')} ${mediasCount}`,
        href: media.type === 'video' ? media.url : media.big,
        type: media.type === 'video' ? 'video/mp4' : 'image/jpeg',
        poster: media.thumb,
        thumbnail: media.type === 'video' ? media.thumb : media.small,
      }));
    },
  },

  methods: {
    openVideoPicker() {
      this.$refs.videoInput.click();
    },

    openPhotosPicker() {
      this.$refs.photosInput.click();
    },

    openVerificationModal() {
      if (this.profileIsVerified) { return; }
      EventBus.$emit('openVerificationModal');
    },

    async deleteMedia() {
      this.photosLoading = true;
      const media = this.userMedias[this.mediaIndex];
      try {
        await this.$store.dispatch('user/removeMedia', media.id);
        Message.success((media.type === 'video' ? this.$t('profile.video_deleted') : this.$t('profile.photo_deleted')));
      } catch (e) {
        Message.error(`${this.$t('profile.error_delete')} ${media.type === 'video' ? this.$t('profile.video') : this.$t('profile.photo')}`);
      }
      this.photosLoading = false;
    },

    async videoPicked(e) {
      const files = e.target.files;
      if (!files.length) { return; }

      this.photosLoading = true;
      try {
        await this.$store.dispatch('user/uploadVideo', files[0]);
        Message.success(this.$t('profile.video_success_uploaded'));
      } catch (e) {
        Message.error(this.$t('profile.video_error_upload'));
      }
      this.photosLoading = false;
    },

    async photosPicked(e) {
      const files = e.target.files;
      if (!files.length) { return; }

      if (files.length >= 20) {
        Message.error(this.$t('profile.max_photos'));
        return;
      }

      this.photosLoading = true;

      const files_count = files.length;
      let success_files_count = 0;

      for (let i = 0; i < files_count; ++i) {
        try {
          await this.$store.dispatch('user/uploadPhoto', files[i]);
          success_files_count += 1;
        } catch (e) {
          Message.error(this.$t('profile.error_upload_photo'));
        }
      }

      this.photosLoading = false;
      if (success_files_count === 1 && files_count === 1) {
        Message.success(this.$t('profile.photo_success_uploaded'));
      } else {
        Message.success(`${this.$t('profile.uploaded')} ${success_files_count} ${this.$t('profile.of')} ${files_count} ${this.$t('profile.photos')}`);
      }
    },
  },
};
</script>
