.linear-button {
  border-radius: 5px;
  padding: 8px 10px;
  background: linear-gradient(#f7bb97, #dd5e89);
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 15px;
}

.linear-button:hover {
  opacity: 0.8;
}

.linear-button img {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.linear-button.referral__button {
  background: linear-gradient(#4c669f, #3b5998, #192f6a);
}
