<template>
  <div class="chat__messages" :class="{active: !!currentDialog.id}" v-if="currentDialog.id">
    <div class="chat_title" v-show="!!currentDialog.id" v-if="$props.showHeader">
      <div class="title-options only-mobile" @click="$store.dispatch('messages/setCurrentDialog', {})">
        <i class="fas fa-chevron-left"></i>
      </div>
        <div class="title-row">
          <span class="dialog-name" v-on:click="openDialogInfo">{{ dialogName }}</span>
          <span class="recipients" v-on:click="openUserlist"> {{ usersCount }} {{ participantsCountText }} </span>
        </div>
    </div>
    <div class="chat_body" ref="chat_body" v-show="!!currentDialog.id" v-loading="busy">
      <message
        v-for="(message, index) in messages"
        :message="message"
        :key="index"
      />
    </div>
    <div class="chat_fullscreen-input_wrapper" v-show="!!currentDialog.id && canSend">
      <input id="chat_input" v-model="content" v-on:keyup.enter="send" type="text" :placeholder="$t('messages.write_message')" value="">
      <div class="input_wrapper-options input_wrapper-send" :class="{active: !!content.length}" @click="send">
        <i class="fab fa-telegram-plane"></i>
      </div>
    </div>
    <UserlistModal
      :users="currentDialog.users"
      ref="userlist"
    ></UserlistModal>
    <modal-offer-short
      :noChat="true"
      ref="offerModal"
      :offer="currentOffer"
      :offer-id="openOfferId"
      @closed="openOfferModal=false"
      v-if="openOfferModal"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Message from './Message';
import UserlistModal from '@/components/UserlistModal/UserlistModal';
import ModalOfferShort from '@/components/ModalOfferShort';

export default {
  components: {
    Message,
    UserlistModal,
    ModalOfferShort
  },
  props: {
    showHeader: {
      default: true,
      type: Boolean
    }
  },
  data: () => ({
    content: '',
    busy: false,

    openOfferId: null,
    openOfferModal: false
  }),

  computed: {
    ...mapGetters([
      'currentOffer',
      'currentDialog',
      'messages',
    ]),
    canSend() {
      return !this.currentOffer.id || this.currentOffer.application && this.currentOffer.application.status == 'accepted'
    },
    dialogName() {
      if(this.currentDialog.name) return this.currentDialog.name
      if(this.currentDialog.recipients) return this.currentDialog.recipients.slice(0,1).map((v) => v.name).join(', ')
      return '';
    },
    participantsCountText() {
      let count = this.currentDialog.users.length
      let postfix = this.$t('messages.lot_participants')
      if((count < 10 || count > 20)) {
        if(count % 10 === 1) postfix = this.$t('messages.participant')
        if(count % 10 >= 2 && count % 10 <= 4) postfix = this.$t('messages.few_participants')
      }

      return postfix
    },
    usersCount() {
      return this.currentDialog.users.length
    }
  },

  watch: {
    messages: {
      deep: true,
      handler(newVal, prevVal) {
        this.$nextTick(() => {
          this.scrollToBottom();
        });
      },
    },
    currentDialog: {
      deep: true,
      handler(newVal, prevVal) {
        if (newVal.id && newVal.id != prevVal.id) { this.loadMore(); }
        },
    },
  },

  methods: {
    openUserlist() {
      this.$refs.userlist.open()
    },
    openDialogInfo() {
      if(this.currentDialog.offer_id) {
        this.openOffer(this.currentDialog.offer_id)
      }
    },
    send() {
      if (!this.content || !this.content.length) { return; }
      this.$store.dispatch('messages/sendMessageByDialog', {
        content: this.content,
        dialog_id: this.currentDialog.id,
      }).then(() => {
        this.content = '';
      });
    },
    openOffer(offerId) {
      this.openOfferModal = true;
      this.openOfferId = offerId;
      this.$store.dispatch('offers/loadOffer', this.openOfferId)
      .then(() => {
        this.$nextTick(() => {
          console.log('refs', this.$refs, this.$refs.offerModal)
          this.$refs.offerModal.open();
        });
      })
    },
    userAvatar(user = this.currentDialog.recipient) {
      if (!user) { return '/static/img/without_avatar.jpg'; }
      if (!user.avatar) { return '/static/img/without_avatar.jpg'; }
      return user.avatar.small;
    },

    loadMore() {
      if ((typeof this.currentDialog.id) === 'string') { return; }
      this.busy = true;
      this.$store.dispatch('messages/fetchMessages', this.currentDialog.id)
        .then(() => {
          this.busy = false;
          this.scrollToBottom();

          // проставляем последнее сообщение прочитанным
          const dialog_messages_count = this.messages.length;
          if (dialog_messages_count && !this.messages[dialog_messages_count - 1].from_me) {
          //  this.$store.dispatch('messages/markMessageAsRead', this.messages[dialog_messages_count - 1].id);
            this.$store.dispatch('messages/markDialogAsRead', this.currentDialog.id);
          }
        })
        .catch(() => {
          this.busy = false;
        });
    },

    scrollToBottom() {
      this.$refs.chat_body.scrollTop = this.$refs.chat_body.scrollHeight;
    },
  },
};
</script>

<style scoped>
  .input_wrapper-send {
    cursor: pointer;
  }

  .title-row {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>
