<template>
  <div class="chat__dialog"
       :class="{active: active, unread: dialog.readed !== undefined && dialog.readed === 0 && !dialog.lastMessage.from_me}"
       @click="!active ? $emit('openDialog', dialog) : ''">
    <div class="chat_dialog-avatar-wrapper">
      <div class="chat_dialog-avatar" :style="`background-image: url(${recipientAvatar})`">
      </div>
    </div>
    <div class="chat_dialog-info">
      <div class="chat_dialog-top">
        <span class="chat_dialog-title">
          {{ name }}
        </span>
        <span class="chat_dialog-date" v-if="dialog.lastMessage">
          {{ lastMessageDate }}
        </span>
      </div>
      <p class="chat_dialog-message" v-if="dialog.lastMessage">
        {{ lastMessageContent }}
      </p>
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs';
import { mapGetters } from 'vuex';

export default {
  props: {
    dialog: {
      type: Object,
      required: true,
    },
    active: {
      type: Boolean,
      default: () => false,
    },
  },
  computed: {
    ...mapGetters([
      'loggedUser',
    ]),

    recipientAvatar() {
      if(this.dialog.users.length > 2) { return '/static/img/without_avatar.jpg'; }
      const recipient = this.recipients[0]

      if (!recipient || !recipient.avatar) { return '/static/img/without_avatar.jpg'; }
      return recipient.avatar.small;
    },

    lastMessageContent() {
      if (!this.dialog.lastMessage) { return ''; }

      if (this.dialog.lastMessage.content.length > 60) { return `${this.dialog.lastMessage.content.substr(0, 60)}...`; }
      return this.dialog.lastMessage.content;
    },

    lastMessageDate() {
      const current_day_date = dayjs();
      const message_date = dayjs(this.dialog.lastMessage.created_at);
      const same_day = current_day_date.isSame(message_date, 'day');
      const same_month = current_day_date.isSame(message_date, 'month');
      const same_year = current_day_date.isSame(message_date, 'year');
      if (same_day && same_month && same_year) { return message_date.format('HH:mm'); }
      return message_date.format('DD.MM.YYYY');
    },

    name() {
      return this.dialog.name ? this.dialog.name : this.recipients.slice(0,1).map((v) => v.name).join(', ')
    },

    recipients() {
      return this.dialog.users.filter(user => user.id !== this.loggedUser.id)
    }
  },
};
</script>
<style>
  .chat__dialog {
    cursor: pointer;
  }
</style>
