<template>
  <div class="chat__dialogs" :class="{active: !currentDialog.id}">
    <div class="chat_options">
      <div class="title-row">
        {{ $t('messages.dialogs') }}
      </div>
    </div>
    <div class="chat__dialogs-content" v-loading="loading">
      <chat-dialog
        v-for="dialog in dialogs"
        :dialog="dialog"
        :active="currentDialog.id === dialog.id"
        :key="`dialog_${dialog.id}`"
        @openDialog="openDialog"
      />
      <nothing-found v-if="!loading && !dialogs.length">
        {{ $t('messages.not_active_dialogs') }}
      </nothing-found>
    </div>
  </div>
</template>

<script>
import ChatDialog from './ChatDialog';
import NothingFound from '@/components/NothingFound';
import { mapGetters } from 'vuex';

export default {
  components: {
    ChatDialog,
    NothingFound,
  },

  data: () => ({
    loading: false,
  }),

  computed: mapGetters([
    'dialogs',
    'currentDialog',
  ]),

  methods: {
    async loadDialogs() {
      this.loading = true;
      try {
        await this.$store.dispatch('messages/fetchDialogs');
      } catch (e) {

      }
      this.loading = false;
    },

    openDialog(dialog) {
      this.$store.dispatch('messages/resetMessages');
      this.$store.dispatch('messages/setCurrentDialog', dialog);
    },

    closeDialog() {
      this.$store.dispatch('messages/resetMessages');
      this.$store.dispatch('messages/setCurrentDialog', {});
    },
  },

  mounted() {
    this.loadDialogs();
  },
};
</script>
