<template>
  <div>
    <div class="header__title">
      <div class="header__city">
        <h2>{{ $t('pages.offers_my') }}</h2>
      </div>
      <app-button href="#" class="button button__primary" @click.native="open">
        <i class="fas fa-plus"></i>
        <span>{{ $t('offers.create_offer') }}</span>
      </app-button>
    </div>
    <div class="offers_wrapper" v-loading="loading">
      <template v-if="!loading">
        <template>
          <app-column
            class="column-2"
            v-for="(offer, index) in offers"
            :key="index"
          >
            <app-offer-model :offer="offer" @click.native="openOffer(offer)" />
          </app-column>
        </template>
        <!--
        <template v-else>
          <app-column
            class="column-2"
            v-for="(offer, index) in offers"
            :key="index"
          >
            <app-offer :offer="offer" @click.native="openOffer(offer)" />
          </app-column>
        </template>-->
      </template>
      <template v-if="!offers.length && !loading">
        <nothing-found>
          <template>
            <div v-html="$t('offers.not_found_offers_model')"></div>
          </template>
          <!--<template v-else>
            <div v-html="$t('offers.not_found_offers_manager')"></div>
          </template>-->
        </nothing-found>
      </template>
    </div>
    <modal-create-event ref="offerCreateModal" v-on:offerCreated="fetchOffers"/>
    <template>
      <modal-offer-model
        ref="offerModal"
        :offer="openedOffer"
        :offer-id="openOfferId"
        @closed="openOfferModal=false"
        v-if="openOfferModal"
      />
    </template>
    <!--
    <template>
      <modal-offer
        ref="offerModal"
        :offer="openedOffer"
        :offer-id="openOfferId"
        @closed="openOfferModal=false"
        v-show="openOfferModal"
      />
    </template>-->
  </div>
</template>

<script>
import AppColumn from '@/components/AppColumn';
import AppOffer from '@/components/AppOffer';
import AppOfferModel from '@/components/AppOfferModel';
import AppButton from '@/components/AppButton';
import AppModal from '@/components/AppModal';
import ModalOffer from '@/components/ModalOffer';
import ModalOfferModel from '@/components/ModalOfferModel';
//import ModalCreateOffer from '@/components/ModalCreateOffer';
import ModalCreateEvent from '@/components/ModalCreateEvent';
import BannerVerifyPage from '@/components/BannerVerifyPage';
import NothingFound from '@/components/NothingFound';
import EventBus from '@/bus';
import { Message } from 'element-ui';
import { mapGetters } from 'vuex';
import { fetchCitiesForCountries, fetchCountries } from '@/api/geo';

export default {
  name: 'Offers',
  components: {
    AppOffer,
    AppOfferModel,
    NothingFound,
    AppColumn,
    AppButton,
    BannerVerifyPage,
    AppModal,
    ModalOffer,
    ModalOfferModel,
    //ModalCreateOffer,
    ModalCreateEvent,
  },

  data() {
    return {
      loading: false,
      openOfferModal: false,
      openOfferId: null,
      openedOffer: null,

      country: null,
      countries: null,

      city: null,
      cities: null
    };
  },

  computed: mapGetters([
    'isGirl',
    'isManager',
    'profileIsVerified',
    'isSubscriptionPayed',
    'loggedUser',
    'offers',
  ]),

  watch: {
    city(val) {
      if(val)
        this.fetchOffers();
    }
  },

  methods: {
    open() {
      if (!this.isSubscriptionPayed) {
        Message.error(this.$t('offers.need_pay_for_create'));
        EventBus.$emit('openSubscriptionModal');
        return;
      }

      if (!this.profileIsVerified) {
        Message.info(this.$t('offers.need_verify_for_create'));
        EventBus.$emit('openVerificationModal');
        return;
      }

      if (!this.loggedUser.can_create_offers) {
        Message.info(this.$t('offers.not_access_to_create'));
        Intercom('show');
        return;
      }

      this.$refs.offerCreateModal.open();
    },

    openOffer(offer) {
      this.openedOffer = offer;
      this.openOfferId = offer.id;
      this.openOfferModal = true;

      this.$nextTick(() => {
        this.$refs.offerModal.open();
      });
    },

    fetchOffers() {
      this.loading = true;
      this.$store.dispatch(`offers/loadMyOffers`)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
  },

  mounted() {
    this.fetchOffers();
  },
};
</script>
