<template>
  <div class="chat__wrapper">
    <dialogs />
    <chat-body />
  </div>
</template>

<script>
import Dialogs from './components/Dialogs';
import ChatBody from './components/ChatBody';

export default {
  components: {
    Dialogs,
    ChatBody,
  },
};
</script>
