<template>
  <div id="bottomNav" class="k-bottom-nav"
       v-show="routes_show.indexOf($route.name) !== -1 && !currentDialog.id"
  >
      <v-bottom-navigation
        v-model="activeBtn"
        color="purple lighten-1"
      >
        <v-btn>
          <span>{{ $t('pages.offers') }}</span>
          <i class="far fa-list-alt"></i>
        </v-btn>
        <v-btn>
          <span>{{ $t('pages.offers_my') }}</span>
          <i class="far fa-list-alt"></i>
        </v-btn>
        <v-btn>
          <span>{{ $t('pages.tours') }}</span>
          <i class="fas fa-plane"></i>
        </v-btn>
        <v-btn>
          <span>{{ $t('pages.messages') }}</span>
          <i class="fas fa-comments"></i>
        </v-btn>
        <v-btn>
          <span>{{ $t('pages.settings') }}</span>
          <i class="fas fa-cog"></i>
        </v-btn>
      </v-bottom-navigation>
  </div>
</template>

<script>
import './styles.css';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      activeBtn: 0,
      routes_show: ['Offers', 'OffersMy', 'Tours', 'Messages', 'Settings'],
    };
  },

  computed: mapGetters(['currentDialog']),

  watch: {
    activeBtn(newVal, oldVal) {
      let route = '/';
      switch (newVal) {
        case 0:
          route = '/';
          break;
        case 1:
          route = '/offers/my'
          break;
        case 2:
          route = '/tours';
          break;
        case 3:
          route = '/messages';
          break;
        case 4:
          route = '/settings';
          break;
        default:
          break;
      }
      this.$router.push(route);
    },

    $route: {
      immediate: true,
      handler(newVal, oldVal) {
        const { name, matched } = newVal;
        if (name === 'Offers') {
          this.activeBtn = 0;
        } else if (name === 'OffersMy') {
          this.activeBtn = 1;
        }else if (name === 'Tours') {
          this.activeBtn = 2;
        } else if (name === 'Messages') {
          this.activeBtn = 3;
        } else if (name === 'Settings' || matched.length && matched[0].name === 'Settings') {
          this.activeBtn = 4;
        }
      },
    },
  },
};
</script>
