.k-bottom-nav {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
}

@media(max-width: 767px) {
  .k-bottom-nav {
    display: block;
  }
}

.k-bottom-nav .v-item-group.v-bottom-navigation .v-btn .v-btn__content span {
  letter-spacing: 0.02em;
}

.k-bottom-nav i {
  font-size: 20px!important;
  line-height: 30px!important;
}
