<template>
  <app-modal class="offer__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <div class="offer__modal-top">
      <div class="offer__modal-top-content">
        <div class="offer__title" v-show="!loading">
          <div class="offer__city">{{ title }}fff</div>
          <div class="offer__name">{{ currentOffer.name }}</div>
        </div>
        <div class="offer__bottom">
          <chip
            :content="getOfferStatus(currentOffer.status)"
            :class="`offer_chip_${currentOffer.status}`"
            v-show="!loading"
          />
        </div>
      </div>
      <div class="offer__modal-top-background" :style="`background-image: url(${cityImage})`">
        <div class="offer__modal-top-gradient"></div>
      </div>
      <div class="offer__modal-top-shadow"></div>
    </div>
    <div class="offer__modal-content">
      <v-skeleton-loader
        :loading="loading"
        height="100"
        type="avatar, avatar, avatar"
      >
        <h3>{{ $t('modal_offer.new_models') }}</h3>
        <models-slider v-if="currentOffer.agreed_models && currentOffer.agreed_models.length">
          <girl-small-profile
            :user="user"
            v-for="(user, index) in currentOffer.agreed_models"
            @open="openUserModal(user)"
            :key="`agreed_model_${index}`"
          />
        </models-slider>
        <p v-else>
          {{ $t('modal_offer.not_active_models') }}
        </p>
        <h3>{{ $t('modal_offer.approved_models') }}</h3>
        <models-slider v-if="currentOffer.agreed_by_manager_models && currentOffer.agreed_by_manager_models.length">
          <girl-small-profile
            :user="user"
            v-for="(user, index) in currentOffer.agreed_by_manager_models"
            @open="openUserModal(user)"
            :key="`agreed_model_manager_${index}`"
          />
        </models-slider>
        <p v-else>
          {{ $t('modal_offer.no_approved_models') }}
        </p>
      </v-skeleton-loader>
      <v-skeleton-loader
        :loading="loading"
        height="94"
        type="list-item-two-line"
      >
        <h3>{{ $t('modal_offer.description') }}</h3>
        <p>{{ currentOffer.description }}</p>
        <div class="offer__summary">
          <div class="offer__summary-option" v-if="currentOffer.category">
            <span>{{ $t('modal_offer.category') }}</span>
            <p>{{ currentOffer.category.name }}</p>
          </div>
          <div class="offer__summary-option" v-if="currentOffer.country">
            <span>{{ $t('modal_offer.meeting_place') }}</span>
            <p>{{ currentOffer.country.name }}, {{ currentOffer.city.name }}</p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.meeting_date') }}</span>
            <p>{{ formatDate(currentOffer.meeting_date) }}</p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.budget') }}</span>
            <p>${{ currentOffer.cost }}{{ currentOffer.possible_increase_cost ? '+' : '' }}</p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.search_models_from') }}</span>
            <p>
              <template v-if="currentOffer.search_from_same_city">
                {{ country.name }}, {{ city.name }}
              </template>
              <template v-else-if="currentOffer.country_from">
                {{ currentOffer.country_from.name + (currentOffer.city_from ? `, ${currentOffer.city_from.name}` : '') }}
              </template>
              <template v-else>
                {{ $t('modal_offer.any_country_city') }}
              </template>
            </p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.age') }}</span>
            <p>
              {{ $t('modal_offer.from') }}
              {{ currentOffer.age_from }}
              {{ $t('modal_offer.to') }}
              {{ currentOffer.age_to }}
              {{ $t('modal_offer.years') }}
            </p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.height') }}</span>
            <p>
              {{ $t('modal_offer.from') }}
              {{ currentOffer.height_from }}
              {{ $t('modal_offer.to') }}
              {{ currentOffer.height_to }}
              {{ $t('modal_offer.sm') }}
            </p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.weight') }}</span>
            <p>
              {{ $t('modal_offer.from') }}
              {{ currentOffer.weight_from }}
              {{ $t('modal_offer.to') }}
              {{ currentOffer.weight_to }}
              {{ $t('modal_offer.kg') }}
            </p>
          </div>
          <div class="offer__summary-option">
            <span>{{ $t('modal_offer.boobs_size') }}</span>
            <p>
              {{ $t('modal_offer.from') }}
              {{ currentOffer.boobs_from }}
              {{ $t('modal_offer.to') }}
              {{ currentOffer.boobs_to }}
            </p>
          </div>
          <div class="offer__summary-option">
            <span>Тип груди</span>
            <p>{{ currentOffer.boobs_type === 'natural' ? $t('modal_offer.only_natural') : $t('modal_offer.any') }}</p>
          </div>
          <div class="offer__summary-option offer__summary-option_description"
               v-if="currentOffer.nationalities && currentOffer.nationalities.length">
            <span>{{ $t('modal_offer.nationality') }}</span>
            <p>{{ currentOffer.nationalities.join(', ') }}</p>
          </div>
          <div class="offer__summary-option offer__summary-option_description"
               v-if="currentOffer.hairs && currentOffer.hairs.length">
            <span>{{ $t('modal_offer.hair_color') }}</span>
            <p>{{ currentOffer.hairs.join(', ') }}</p>
          </div>
          <div class="offer__summary-option offer__summary-option_description"
               v-if="currentOffer.eyes && currentOffer.eyes.length">
            <span>{{ $t('modal_offer.eye_color') }}</span>
            <p>{{ currentOffer.eyes.join(', ') }}</p>
          </div>
          <div class="offer__summary-option offer__summary-option_description"
               v-if="currentOffer.visas && currentOffer.visas.length">
            <span>{{ $t('modal_offer.visas') }}</span>
            <p>{{ currentOffer.visas.join(', ') }}</p>
          </div>
        </div>
      </v-skeleton-loader>
    </div>
    <modal-user
      ref="modalUser"
      @closed="onModalUserClose"
    />
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import Chip from '@/components/Chip';
import ModalUser from '@/components/ModalUser';
import GirlSmallProfile from '@/components/GirlSmallProfile';
import ModelsSlider from './components/ModelsSlider';
import { getOfferStatus } from '@/utils/offers';
import { formatDate } from '@/utils';
import EventBus from '@/bus';
import './styles.css';

export default {
  props: ['offerId', 'offer'],

  components: {
    AppModal,
    AppButton,
    Chip,
    ModalUser,
    GirlSmallProfile,
    ModelsSlider,
  },

  computed: {
    ...mapGetters(['currentOffer']),

    title() {
      if (!this.currentOffer.country) { return this.currentOffer.category ? this.currentOffer.category.name : ''; }
      return this.currentOffer.country ? (this.currentOffer.country.name + (this.currentOffer.city ? `, ${this.currentOffer.city.name}` : '')) : '';
    },
    cityImage() {
      const default_image = 'https://static.themoscowtimes.com/image/1360/37/407968_1000x666_1024_390eba4e9dc1ad1f24553dbc733a2045.jpg';
      if (this.loading) {
        if (this.offer && this.offer.city && this.offer.city.image_path) { return `https://d2ko3u8nw1ndor.cloudfront.net/${this.offer.city.image_path}`; }
        return default_image;
      }
      if (!this.currentOffer.city) { return default_image; }
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.currentOffer.city.image_path}`;
    },
  },

  data: () => ({
    loading: false,
    modal_left_hidden: false,
    overscrolled: false,
    scrollContainer: null,
  }),

  watch: {
    offerId: {
      immediate: true,
      handler(newVal, oldVal) {
        this.loadOffer();
      },
    },
  },

  methods: {
    getOfferStatus,
    formatDate,

    open() {
      this.$refs.modal.open();
      this.$nextTick(this.initScrollListener.bind(this));
    },

    close() {
      this.removeListener();
      this.$refs.modal.close();
      this.$emit('closed');
    },

    openUserModal(user) {
      const newUser = Object.assign({}, user);
      if (this.offer.status !== 'active') {
        newUser.offer_link_status = '';
      }
      this.modal_left_hidden = true;
      this.$refs.modalUser.open(newUser);
    },

    onModalUserClose() {
      this.modal_left_hidden = false;
    },

    loadOffer() {
      this.loading = true;
      this.$store.dispatch('offers/loadOffer', this.offerId)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
          this.close();
        });
    },

    initScrollListener() {
      const scrollContainer = document.querySelector('.offer__modal .__scroll');
      if(scrollContainer)
      {
        this.scrollContainer = scrollContainer;
        this.scrollContainer.addEventListener('scroll', this.scrollHandler.bind(this));
      }
    },

    scrollHandler(event) {
      const target = event.target || event.currentTarget;
      const scrollTop = target.scrollTop;
      if (scrollTop >= 160) {
        if (this.overscrolled) { return; }
        document.querySelector('.offer__modal .modal__close').style.color = '#242a38';
        this.overscrolled = true;
      } else {
        if (!this.overscrolled) { return; }
        document.querySelector('.offer__modal .modal__close').style.color = '#fff';
        this.overscrolled = false;
      }
    },

    removeListener() {
      if (this.scrollContainer) { this.scrollContainer.removeEventListener('scroll', this.scrollHandler.bind(this)); }
    },
  },

  beforeDestroy() {
    this.removeListener();
  },

  mounted() {
    EventBus.$on('reloadCurrentOffer', () => {
      this.loadOffer();
    });
  },
};
</script>
