.offer__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
}
.offer__modal .modal__close {
  color: #fff
}
.offer__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.offer__modal .modal__msg_content {
  margin: 0;
  padding: 0;
  position: relative;
}
.offer__modal-top {
  height: 200px;
  width: 100%;
  position: relative;
}
.offer__modal-top-background {
  height: 100%;
  width: 100%;
  background-image: url(https://static.themoscowtimes.com/image/1360/37/407968_1000x666_1024_390eba4e9dc1ad1f24553dbc733a2045.jpg);
  background-size: cover;
  position: relative;
}
.offer__modal-top-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #bdc3c7;
  background: -webkit-gradient(linear, left bottom, left top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
  opacity: 0.4;
}

.offer__modal-top-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
}

.offer__modal-top-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 20px;
}

.offer__modal-top-content .offer__title {

}

.offer__modal-content {
  padding: 0 20px 20px;
  color: var(--main-text-color);
}

.offer__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.offer__modal-buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
}
.offer__modal-buttons .button {
  width: 45%;
}

@media(max-width: 767px) {
  .offer__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}

@media(max-width: 340px) {
  .offer__modal-buttons .button i {
    display: none;
  }
}

.offer__modal .v-skeleton-loader__list-item-two-line {
  padding: 0;
}
.offer__modal .v-skeleton-loader__avatar.v-skeleton-loader__bone {
  display: inline-block;
  margin-right: 10px;
  height: 84px;
  width: 84px;
}

@media(max-width: 767px) {
  .offer__modal-buttons {
    position: fixed;
  }
  .tab-content {
    padding-bottom: 80px;
  }
}
