<template>
  <app-modal class="offer_create_modal" ref="modal" v-loading="loading">
    <h3>{{ steps[currentStep] }}</h3>
    <div class="step_screen" v-if="currentStep === 0">
      <v-form
        ref="form_0"
        v-model="valid"
        lazy-validation
      >
        <v-text-field
          v-model="form.name"
          :counter="30"
          :rules="rules.name"
          :label="$t('offer_create_modal.offer_name')"
          name="name"
          required
        ></v-text-field>

        <v-textarea
          name="description"
          v-model="form.description"
          :rules="rules.description"
          :counter="1000"
          :label="$t('offer_create_modal.offer_description')"
          :rows="1"
          required
          auto-grow
        ></v-textarea>

        <!--<v-select
          v-model="form.category"
          :items="categories"
          :rules="[v => !!v || $t('offer_create_modal.select_category')]"
          :label="$t('offer_create_modal.category')"
          item-value="id"
          item-text="name"
          required
        ></v-select>-->
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 1">
      <v-form
        ref="form_1"
        v-model="valid"
        lazy-validation
      >
        <v-menu
          v-model="menu1"
          :close-on-content-click="false"
          max-width="290"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
							readonly
							clearable
              :value="dateFormatted"
              :label="$t('offer_create_modal.meeting_date')"
              v-on="on"
              @click:clear="date = null"
              :rules="[v => !!v || $t('offer_create_modal.select_meeting_date')]"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            :min="minDate"
            @change="menu1 = false"
          ></v-date-picker>
        </v-menu>
        <v-combobox
          v-model="country"
          :items="countries"
          :label="$t('offer_create_modal.meeting_country')"
          :rules="[v => !!v || $t('offer_create_modal.select_country')]"
          item-value="id"
          item-text="name"
        ></v-combobox>
        <v-combobox
          v-model="city"
          :items="cities"
          :label="$t('offer_create_modal.meeting_city')"
          :rules="[v => !!v || $t('offer_create_modal.select_city')]"
          item-value="id"
          item-text="name"
          v-show="form.country"
        ></v-combobox>
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 2">
      <v-form
        ref="form_2"
        v-model="valid"
        lazy-validation
      >
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.search_by_gender') }}</span>
          <div class="gender_container">
          <v-checkbox
            v-model="form.genders.male"
            :label="$t('offer_create_modal.male')"
            :rules="[genders]"
            style="margin-top: 0"
          />
          <v-checkbox
            v-model="form.genders.female"
            :label="$t('offer_create_modal.female')"
            :rules="[genders]"
            style="margin-top: 0"
          />
          </div>
        </div>

        <v-subheader class="pl-0">
          {{ $t('offer_create_modal.age') }}
          {{ $t('offer_create_modal.from') }}
          {{ form.age_from }}
          {{ $t('offer_create_modal.to') }}
          {{ form.age_to }}
          {{ $t('offer_create_modal.years') }}
        </v-subheader>
        <v-range-slider
          v-model="age"
          thumb-label
          min="16"
          max="60"
        />
        <v-checkbox
          v-model="form.only_verified"
          :label="$t('offer_create_modal.only_verificated')"
          :disabled="loggedUser.verified !== true"
        />
        <!--<div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.invited') }}</span>
          <p>
            {{ formatAuditory() }}
          </p>
        </div>-->
      </v-form>
    </div>
    <div class="step_screen" v-if="currentStep === 3">
      <div class="offer__summary">
        <!--<div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.category') }}</span>
          <p>{{ category.name }}</p>
        </div>-->
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.offer_name') }}</span>
          <p>{{ form.name }}</p>
        </div>
        <div class="offer__summary-option offer__summary-option_description">
          <span>{{ $t('offer_create_modal.offer_description') }}</span>
          <p>{{ form.description }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.meeting_place') }}</span>
           <p>{{ country.name }}, {{ city.name }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.meeting_date') }}</span>
          <p>{{ dateFormatted }}</p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.age') }}</span>
          <p>
            {{ $t('offer_create_modal.from') }}
            {{ form.age_from }}
            {{ $t('offer_create_modal.to') }}
            {{ form.age_to }}
            {{ $t('offer_create_modal.years') }}
          </p>
        </div>
        <div class="offer__summary-option">
          <span>{{ $t('offer_create_modal.invited') }}</span>
          <p>
            {{ formatAuditory() }}
          </p>
        </div>
      </div>
    </div>

    <div class="offer__create-buttons" :class="{'only_next': currentStep === 0}">
      <app-button class="button button__default" v-show="currentStep!==0" @click.native="prevStep">
        <i class="fas fa-arrow-left"></i> {{ $t('offer_create_modal.prev') }}
      </app-button>
      <app-button class="button button__success" @click.native="nextStep">
        <template v-if="currentStep!==steps.length-1">
          {{ $t('offer_create_modal.next') }} <i class="fas fa-arrow-right"></i>
        </template>
        <template v-else>
          {{ $t('offer_create_modal.create') }}
        </template>
      </app-button>
    </div>
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message } from 'element-ui';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import Chip from '@/components/Chip';
import ModalUser from '@/components/ModalUser';
import { fetchCitiesForCountries } from '@/api/geo';
import { formatDate } from '@/utils';
import dayjs from 'dayjs';
import './styles.css';

export default {
  components: {
    AppModal,
    AppButton,
    Chip,
    ModalUser,
  },

  data: vm => ({
    valid: true,

    rules: {
      name: [
        v => !!v || vm.$t('offer_create_modal.enter_name'),
        v => (v && v.length <= 30) || vm.$t('offer_create_modal.name_max_30'),
        v => (v && v.length >= 3) || vm.$t('offer_create_modal.name_minimum_3'),
      ],
      description: [
        v => !!v || vm.$t('offer_create_modal.enter_description'),
        v => (v && v.length <= 1000) || vm.$t('offer_create_modal.description_max_1000'),
        v => (v && v.length >= 10) || vm.$t('offer_create_modal.description_min_10'),
      ],
      cost: [
        v => !!v || vm.$t('offer_create_modal.enter_budget'),
        v => /^[1-9][0-9]+$/.test(v) || vm.$t('offer_create_modal.budget_positive'),
        v => (v && v <= 1000000) || vm.$t('offer_create_modal.budget_max'),
        v => (v && v >= 100) || vm.$t('offer_create_modal.budget_min'),
      ],
      genders: [
      ]
    },
    select: null,

    steps: [
      vm.$t('offer_create_modal.create_offer'),
      vm.$t('offer_create_modal.date_and_venue'),
      vm.$t('offer_create_modal.model_parameters'),
      vm.$t('offer_create_modal.check_data'),
    ],

    currentStep: 0,
    date: new Date().toISOString()
      .substr(0, 10),
    minDate: new Date().toISOString()
      .substr(0, 10),
    dateFormatted: null,
    menu1: false,
    menu2: false,

    category: null,
    country: null,
    city: null,
    age: [18, 40],
    only_verified: false,

    form: {
      name: '',
      description: '',
      category: 1,
      country: null,
      city: null,
      meeting_date: null,
      cost: 100,
      possible_increase_cost: false,
      genders: {male: true, female: true},

      age_from: 18,
      age_to: 40,
      only_verified: false,
      search_from_same_city: false,
    },

    loading: false,

    cities: [],
    cities_from: [],
  }),

  computed: {
    ...mapGetters([
      'countries',
      'categories',
      'loggedUser'
    ]),
    genders() {
      return !!(this.form.genders.male || this.form.genders.female)
    }
  },

  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
    country(newVal, oldVal) {
      this.form.country = newVal.id;
      this.loadCitiesForCurrentCountry();
    },
    city(newVal, oldVal) {
      this.form.city = newVal ? newVal.id : null;
    },
    'form.category': function (newVal, oldVal) {
      this.form.category = newVal;
      if (newVal) {
        const index = this.categories.findIndex(category => category.id === newVal);
        this.category = this.categories[index];
      } else {
        this.category = null;
      }
    },
    age(newVal) {
      this.form.age_from = newVal[0];
      this.form.age_to = newVal[1];
    }
  },

  methods: {
    formatDate(date) {
      if (!date) {
        this.form.meeting_date = null;
        return null;
      }
      const dayjs_date = dayjs(date);
      this.form.meeting_date = dayjs_date.format('DD.MM.YYYY');
      return formatDate(date);
    },

    formatAuditory()
    {
      let types = []
      if(this.form.genders.male) types.push(this.$t('offer_create_modal.male'));
      if(this.form.genders.female) types.push(this.$t('offer_create_modal.female'));
      if(this.form.only_verified) types.push(this.$t('offer_create_modal.only_verificated'));
      return types.join(', ');
    },

    open() {
      this.$refs.modal.open();
    },

    close() {
      this.$refs.modal.close();
    },

    reset() {
      this.$refs.form.reset();
    },

    save() {
      this.loading = true;
      this.$store.dispatch('offers/createOffer', this.form)
        .then(() => {
          this.loading = false;
          this.close();
          Message.success(this.$t('offer_create_modal.offer_sent'));
          this.$emit('offerCreated')
          if(this.$route.name !== 'Offers_my') {
            this.$router.push({name: 'Offers_my'})
          }
        })
        .catch(() => {
          this.loading = false;
        });
    },

    nextStep() {
      const form = this.$refs[`form_${this.currentStep}`];
      if (form && !form.validate()) { return; }

      if (this.steps.length - 1 === this.currentStep) {
        this.save();
      } else {
        this.currentStep = this.currentStep + 1;
      }
    },

    prevStep() {
      this.currentStep = this.currentStep - 1;
    },

    async loadParameters() {
      if (!this.categories.length) {
        this.loading = true;
        await this.$store.dispatch('options/fetchOffersCategories');
        this.loading = false;
      }
      if (!this.countries.length) {
        await this.$store.dispatch('options/fetchCountries');
      }
    },

    loadCitiesForCurrentCountry() {
      this.loading = true;
      this.city = null;
      fetchCitiesForCountries(this.form.country)
        .then((response) => {
          console.log(response)
          this.cities = response.data;
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },
  },

  mounted() {
    this.loadParameters();
  },
};
</script>
