.verification__modal .modal__msg_wrapper {
  overflow: hidden;
  position: relative;
}
.verification__modal .modal__close {
  color: var(--main-text-color);
}
.verification__modal .modal__msg_header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.verification__modal .modal__msg_content {
  margin: 0;
  padding: 0;
  position: relative;
}

.verification__modal-content {
  padding: 20px;
  color: var(--main-text-color);
  text-align: center;
}

.verification__modal-content h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}

.verification__modal-content p {
  text-align: left;
  margin-bottom: 0;
}

.verification__modal-content img {
  height: 260px;
  margin-bottom: 20px;
}

.verification__modal-content video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #eee
}

.verification__modal-content canvas {
  display: none;
}

@media(max-width: 767px) {
  .verification__modal .modal__msg_wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
}
