<template>
  <div class="offer__card">
    <div class="offer__background" :style="`background-image: url(${cityImage})`"></div>
    <div class="offer__body">
      <div class="offer__title">
        <div class="offer__city">{{ title }}</div>
        <div class="offer__name">{{ offer.name }}</div>
      </div>
      <div class="offer__bottom">
        <chip
          :content="chipContent"
          :class="chipClass"
        />
      </div>
    </div>
    <div class="offer__shadow"></div>
  </div>
</template>

<script>
import Chip from '@/components/Chip';
import './app-offer.css';

export default {
  props: {
    offer: Object,
  },

  components: {
    Chip,
  },

  computed: {
    title() {
      if (!this.offer.country) { return this.offer.category ? this.offer.category.name : ''; }
      return this.offer.country ? (this.offer.country.name + (this.offer.city ? `, ${this.offer.city.name}` : '')) : '';
    },
    chipContent() {
      if (this.offer.status === 'active' && this.offer.agreed_models_count) { return `${this.offer.agreed_models_count} ${this.$t('offer.new_models')}`; }
      return this.$t(`offer_status.${this.offer.status}`);
    },
    cityImage() {
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.offer.city.image_path}`;
    },
    chipClass() {
      return 'offer_chip_' //+ ${offer.status}
    }
  },
};
</script>
