<template>
  <div>
    <div class="header__title">
      <h2>{{ $t('pages.tours') }}</h2>
      <app-button href="#" class="button button__primary" @click.native="open" v-if="isManager">
        <i class="fas fa-plus"></i>
        <span>{{ $t('tours.create') }}</span>
      </app-button>
    </div>
    <div class="offers_wrapper" v-loading="loading">
      <app-column
        class="column-2"
        v-for="(tour, index) in tours"
        :key="index"
      >
        <app-tour :tour="tour" @click.native="openOffer(tour)" />
      </app-column>
      <template v-if="!tours.length && !loading">
        <nothing-found>
          <template v-if="isGirl">
            <div v-html="$t('tours.not_found_tours_model')"></div>
          </template>
          <template v-else>
            <div v-html="$t('tours.not_found_tours_manager')"></div>
          </template>
        </nothing-found>
      </template>
    </div>
    <modal-create-tour
      ref="tourCreateModal"
    />
    <template v-if="isGirl">
      <modal-tour-model
        ref="tourModal"
        :tour="openedTour"
        :tour-id="openTourId"
        @closed="openTourModal=false"
        v-if="openTourModal"
      />
    </template>
    <template v-else>
      <modal-tour
        ref="tourModal"
        :tour="openedTour"
        :tour-id="openTourId"
        @closed="openTourModal=false"
        v-if="openTourModal"
      />
    </template>
  </div>
</template>

<script>
import AppColumn from '@/components/AppColumn';
import AppTour from '@/components/AppTour';
import AppButton from '@/components/AppButton';
import AppModal from '@/components/AppModal';
import ModalTour from '@/components/ModalTour';
import ModalTourModel from '@/components/ModalTourModel';
import ModalCreateTour from '@/components/ModalCreateTour';
import BannerVerifyPage from '@/components/BannerVerifyPage';
import NothingFound from '@/components/NothingFound';
import EventBus from '@/bus';
import { Message } from 'element-ui';
import { mapGetters } from 'vuex';

export default {
  name: 'Tours',

  components: {
    AppTour,
    NothingFound,
    AppColumn,
    AppButton,
    BannerVerifyPage,
    AppModal,
    ModalTour,
    ModalTourModel,
    ModalCreateTour,
  },

  data() {
    return {
      loading: false,
      openedTour: null,
      openTourId: null,
      openTourModal: false,
    };
  },

  computed: mapGetters([
    'isGirl',
    'isManager',
    'isSubscriptionPayed',
    'profileIsVerified',
    'loggedUser',
    'tours',
  ]),

  methods: {

    open() {
      if (!this.isSubscriptionPayed) {
        Message.error(this.$t('tours.need_pay_for_create'));
        EventBus.$emit('openSubscriptionModal');
        return;
      }

      if (!this.profileIsVerified) {
        Message.info(this.$t('tours.need_verify_for_create'));
        EventBus.$emit('openVerificationModal');
        return;
      }

      if (!this.loggedUser.can_create_tours) {
        Message.info(this.$t('tours.not_access_to_create'));
        Intercom('show');
        return;
      }

      this.$refs.tourCreateModal.open();
    },

    openOffer(offer) {
      this.openedTour = offer;
      this.openTourId = offer.id;
      this.openTourModal = true;

      this.$nextTick(() => {
        this.$refs.tourModal.open();
      });
    },

    fetchTours() {
      this.loading = true;
      const method = this.isGirl ? 'loadTours' : 'loadMyTours';
      this.$store.dispatch(`tours/${method}`)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    },

  },

  mounted() {
    this.fetchTours();
  },
};
</script>
