<template v-if="!offer.application || offer.application.status != 'ignored'">
  <div class="offer__card" :class="{offer__card_viewed: this.offer.viewed}">
    <div class="offer__background" :style="`background-image: url(${cityImage})`"></div>
    <div class="offer__body">
      <div class="offer__title">
        <div class="offer__city">{{ title }}</div>
        <div class="offer__name">{{ offer.name }}</div>
      </div>
      <div class="offer__bottom">
        <chip
          :content="chipContent"
          :class="chipClass"
        />
      </div>
    </div>
    <div class="offer__shadow"></div>
  </div>
</template>

<script>
import './app-offer.css';
import Chip from '@/components/Chip';
import { mapGetters } from 'vuex';

export default {
  props: {
    offer: Object,
  },

  components: {
    Chip,
  },

  computed: {
    ...mapGetters(['loggedUser']),

    title() {
      if (!this.offer.country) { return this.offer.category ? this.offer.category.name : ''; }
      return this.offer.country ? (this.offer.country.name + (this.offer.city ? `, ${this.offer.city.name}` : '')) : '';
    },
    chipContent() {
      return this.offer.offer_model_status == 'active' &&
        this.offer.manager.id !== this.loggedUser.id &&
        this.offer.application &&
        this.offer.application.status
        ?
        this.$t(`modal_offer_model.application.status.${this.offer.application.status}`)
        :
        this.$t(`offer_status.${this.offer.offer_model_status}`);
    },
    cityImage() {
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.offer.city.image_path}`;
    },
    chipClass() {
      return 'offer_model_chip_' + (
        this.offer.offer_model_status == 'active' &&
        this.offer.application &&
        this.offer.application.status &&
        this.offer.manager.id !== this.loggedUser.id
          ?
          this.offer.application.status
          :
          this.offer.offer_model_status
      )
    }
  },
};
</script>
