<template>
  <div class="chip">
    <span class="chip__content">
      {{ content }}
    </span>
  </div>
</template>

<script>
import './styles.css';

export default {
  props: {
    content: String,
  },
};
</script>
