.chip {
  border-radius: 15px;
  background-color: #a3cd4e;
  padding: 3px 10px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.3)
}
.chip__content {
  font-size: 16px;
  color: #fff;
}
.offer_chip_wait_pay {
  background-color: #9ACD32;
}
.offer_chip_inspection {
  background-color: #aaa;
}
.offer_chip_wait {
  background-color: #aaa;
}
.offer_chip_blocked {
  background-color: #B22222;
}
.offer_chip_active {
  background-color: #9ACD32;
}
.offer_chip_ended {
  background-color: #FF6347;
}
.offer_chip_closed {
  background-color: #DC143C;
}


.offer_model_chip_wait_model {
  background-color: #9ACD32;
}
.offer_model_chip_model_agreed {
  background-color: #9ACD32;
}
.offer_model_chip_manager_agreed {
  background-color: #9ACD32;
}
.offer_model_chip_model_refused{
  background-color: #FF6347;
}
.offer_model_chip_manager_refused {
  background-color: #B22222;
}


.tour_chip_wait_pay {
  background-color: #9ACD32;
}
.tour_chip_inspection {
  background-color: #aaa;
}
.tour_chip_blocked {
  background-color: #B22222;
}
.tour_chip_active {
  background-color: #9ACD32;
}
.tour_chip_ended {
  background-color: #FF6347;
}
.tour_chip_closed {
  background-color: #DC143C;
}
