header {
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(139, 160, 176, 0.1);
  margin-bottom: 10px;
}
.header__wrapper {
  position: relative;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0 30px 0;
  height: 100px;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  z-index: 3;
  width: 220px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  padding: 0 20px;
}
.header__menu {
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* styles for site header menu*/
.header__site .menu__navwrap .navigation__item {
  flex: 0 0 auto;
  padding: 0 20px 0 20px;
}
.header__site .menu__navwrap  .navigation__list > .navigation__item:nth-child(2) {
  flex: 1 0 auto;
}
.header__site .menu__navwrap  .navigation__list > .navigation__item:nth-child(3) {
  padding: 0 32px 0 32px;
}
.header__site .menu__navwrap .navigation__list > .navigation__item:last-child {
  padding-right: 0;
}
.header__site .menu__navwrap  .navigation__link {
  font-size: 18px;
  color: #293356;
  font-weight: bold;
}
.header__site .menu__navwrap  .navigation__link:hover {
  color: #4192bf;
}

@media (max-width: 768px) {
  .header__site .menu__navwrap  .navigation__link {
    font-size: 22px;
  }
  .header__site .menu__wrapper .menu__toggler:checked ~ .menu__background > .menu__navwrap .navigation__item {
    padding: 15px;
    display: block;
  }
  .header__site .menu__wrapper .menu__toggler:checked ~ .menu__background > .menu__navwrap app-search-form input {
    width: 100%;
  }
  .header__site .menu__wrapper .menu__background > .menu__navwrap .button.button__primary {
    all: initial;
    display: block;
  }
  .header__site .menu__wrapper .menu__background > .menu__navwrap .button__text {
    font-size: 22px;
    color: #293356;
    font-weight: bold;
    font-family: 'Roboto', SansSerif;
    cursor: pointer;
  }
  .header__site .menu__wrapper .menu__background > .menu__navwrap .button__text:hover {
    color: #4192bf;
  }
  .header__site .menu__wrapper .menu__background > .menu__navwrap .button.button__primary:before {
    all: initial;
  }
}


/* styles for lk site header menu */

.header__lk .navigation .navigation__list {
  justify-content: flex-end;
}
.header__lk .navigation .navigation__item {
  margin: 0 3px;
}
.header__lk .header__menu .popover__wrapper .popover__button,
.header__lk .header__menu .modal__button {
  color: #b8bed7;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 18px;
  transition: all .3s ease-in-out;
}
.header__lk .header__menu .popover__wrapper .popover__button:hover,
.header__lk .header__menu .modal__button:hover {
  background-color: #f4f6fc;
}
.header__lk .header__menu .popover__label,
.header__lk .header__menu .modal__label {
  display: none;
}
.header__lk .header__menu .popover__block {
  right: 0;
  top: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 11px 64px rgba(33,48,102,.1);
}



/* styles for information popover menu */
.pop_information__list {
  display: block;
  padding: 30px;
  width: 200px;
}
.pop_information__item {
  display: block;
  padding: 5px 0;
}
.pop_information__link {
  font-weight: 400;
  color: #4b61ac;
  font-size: 16px;
}
.pop_information__link:hover {
  color: #4192bf;
}

/* styles for notification popover menu */
.indication__on .popover__button i{
  position: relative;
}
.indication__on .popover__button i:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background: #e2828e;
  border-radius: 50%;
}
.header__lk .header__menu .pop_notification__feed{
  display: flex;
  flex-direction: column;
  width: 280px;
}
.header__lk .header__menu .pop_notification__list {
  display: block;
  max-height: 450px;
  overflow: scroll;
  overflow-y: auto;
  padding-right: 5px;
  margin-right: 10px;
  margin-top: 15px;
}
.header__lk .header__menu .pop_notification__item {
  border-bottom: 1px solid #f3f4f8;
}
.header__lk .header__menu .pop_notification__item:first-child {
  /* border-radius: 20px 20px 0 0; */
}
.header__lk .header__menu .pop_notification__item:hover {
  background: #f9fafe;
}
.header__lk .header__menu .pop_notification__show_more {
  font-size: 16px;
  font-weight: 500;
  color: #b8bed7;
  padding: 20px;
}
.header__lk .header__menu .pop_notification__show_more:hover {
  color: #4192bf;
}

/* styles for user menu */
.users_menu__list {
  margin: 30px;
}
.users_menu__item{
  color: #b8bed7;
  margin: 6px 0;
}
.users_menu__item i {
  width: 20px;
}
.users_menu__item a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  color: #4b61ac;
  font-size: 16px;
}
.header__lk .header__menu .popover__wrapper.user__menu .popover__button:hover {
  color: #4192bf;
}
.user__menu .popover__block{
  right: 0;
  top: 80px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 11px 64px rgba(33,48,102,.1);
}
.user__menu .popover__block[show]{
  display: flex;
  width: 200px;
}
.header__lk .header__menu .user__menu .popover__button {
  width: auto;
  height: auto;
}
.header__lk .header__menu .user__menu .popover__label {
  display: block;
  order: 1;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.user__menu i {
  order: 2;
}



@media (max-width: 768px) {

  .header__lk .header__menu .menu__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
    transition: 0.75s;
  }
  .header__lk .menu__wrapper .menu__toggler:checked ~ .menu__background {
    visibility: visible;
    display: flex;
    height: 100vh;
    width: 350px;
    box-shadow: 11px 0 40px rgba(75,97,172,.1);
  }
  .header__lk .header__menu .popover__label,
  .header__lk .header__menu .modal__label {
    display: block;
    padding-left: 10px;
    font-family: 'Roboto', SansSerif;
    font-size: 16px;
  }
  .header__lk .header__menu .menu__navwrap {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  .header__lk .header__menu .navigation {
    width: 100%;
  }
  .header__lk .header__menu .navigation__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
  }
  .header__lk .header__menu .navigation__list::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #F5F5F5;
  }

  .header__lk .header__menu .navigation__list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .header__lk .header__menu .navigation__list::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #4B61AC;
  }
  .header__lk .header__menu .navigation__item:last-child {
    order: 1;
    margin: 0;
  }
  .header__lk .header__menu .navigation__item{
    order: 2;
    width: 100%;
    margin: 15px 0 15px 15px;
  }
  .header__lk .header__menu .modal__button {
    width: auto;
    height: auto;
    border-radius: 0;
  }
  .header__lk .header__menu .modal__button i,
  .header__lk .header__menu .popover__information .popover__button i,
  .popover__notification .popover__button i{
    width: 24px;
  }
  .header__lk .header__menu .modal__button:hover {
    background: none;
  }
  .header__lk .header__menu .user__menu{
    background: #f4f6fc;
    width: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .header__lk .header__menu .user__menu .popover__button {
    background: #f4f6fc;

  }
  .header__lk .header__menu .user__menu .popover__block{
    position: initial;
    background: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
  }
  .header__lk .header__menu .user__menu .users_menu__list{
    margin: 10px 0 0 0;
  }
  .header__lk .header__menu .popover__wrapper .popover__button {
    width: 100%;
    height: initial;
    border-radius: 0;
    background: none;
  }
  .header__lk .header__menu .popover__wrapper .popover__button:hover {
    background: none;
  }
  .header__lk .menu__popover.popover__information.popover__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__lk .menu__popover.popover__information.popover__wrapper .popover__block{
    position:initial;
    background-color: #f4f6fc;
    width: 100%;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 10px;
  }
  .header__lk .menu__popover.popover__notification.popover__wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
  }
  .header__lk .menu__popover.popover__notification.popover__wrapper .popover__block{
    position:initial;
    background-color: #f4f6fc;
    width: 100%;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 10px;

  }
  .header__lk .header__menu .pop_notification__list {
    display: block;
    max-height: 100%;
    overflow: initial;

  }
  .header__lk .header__menu .pop_notification__feed {
    display: flex;
    flex-direction: column;
    width: initial;
  }
}

@media (max-width: 350px){
  .header__lk .menu__wrapper .menu__toggler:checked ~ .menu__background {
    width: 100%;
  }
}


@media(max-width: 767px) {
  header {
    display: none!important;
  }
}
