<template>
  <div class="banner__container">
    <div class="banner">
      <div class="banner__content">
        <div class="banner__promo">
          <div class="brick-group brick-group--promo">
            <div class="brick brick--lg brick--stroke vivify">
              <div class="brick-img profile-photo" data-src="https://www.belloo.date/demo/themes/default/images/no_user.png" style="background-image: url(&quot;https://www.belloo.date/demo/themes/default/images/no_user.png&quot;);"></div>
            </div>
            <div class="brick brick--lg brick--stroke vivify">
              <div class="brick-img profile-photo" data-src="https://www.belloo.date/demo/themes/default/images/no_user.png" style="background-image: url(&quot;https://www.belloo.date/demo/themes/default/images/no_user.png&quot;);"></div>
            </div>
            <div class="brick brick--lg brick--stroke vivify">
              <div class="brick-img profile-photo" data-src="https://www.belloo.date/demo/themes/default/images/no_user.png" style="background-image: url(&quot;https://www.belloo.date/demo/themes/default/images/no_user.png&quot;);"></div>
            </div>
          </div>
        </div>
        <div class="banner-text">
          Пройдите проверку профиля!<br>
          Модели уже ждут ваши предложения
        </div>
      </div>
      <div class="banner__buttons">

      </div>
    </div>
  </div>
</template>

<script>
import './styles.css';

export default {

};
</script>
