.banner {
  background: #FF5E6A;
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  height: 100px;
  padding: 0 30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.12);
}

.banner__content {
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.banner__promo {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.banner-text {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0 20px;
  min-width: 200px;
  max-width: 365px;
  font-size: 16px !important;
  color: #f6f6f6;
  line-height: 1.5;
  font-size: 18px;
}
