<template>
  <div class="nothing-found__wrapper">
    <img src="/static/img/nothing-found.png">
    <p><slot/></p>
  </div>
</template>

<script>
export default {
};
</script>

<style>
  .nothing-found__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .nothing-found__wrapper p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 26px;
    color: var(--main-text-color);
    text-align: center;
  }
  @media(max-width: 767px) {
    .nothing-found__wrapper img {
      height: 90px;
    }
    .nothing-found__wrapper p {
      font-size: 16px;
      line-height: 24px;
    }
  }
</style>
