<template>
  <app-modal class="subscription__modal" ref="modal">
    <div class="subscription__modal-content" v-loading="loading">
      <h3>{{ $t('subscription_modal.title') }}</h3>
      <div class="brick-group brick-group--promo">
        <div class="brick brick--lg brick--stroke vivify">
          <div class="brick-img profile-photo" style="background-image: url(/static/img/subscription/girl_1.jpg)"></div>
        </div>
        <div class="brick brick--lg brick--stroke vivify ">
          <div class="brick-img profile-photo" style="background-image: url(/static/img/subscription/girl_2.jpg)"></div>
          <mark class="brick brick--xsm brick--spp brick--bc"><img src="/static/img/subscription/vip_y.png" class="vivify pulsate infinite" width="16px"></mark>
        </div>
        <div class="brick brick--lg brick--stroke vivify">
          <div class="brick-img profile-photo" style="background-image: url(/static/img/subscription/girl_3.jpg)"></div>
        </div>
      </div>
      <p class="text-center">{{ $t('subscription_modal.models_text') }}</p>
      <ul>
        <li>{{ $t('subscription_modal.offers_publish') }}</li>
        <li>{{ $t('subscription_modal.tours_publish') }}</li>
        <li>{{ $t('subscription_modal.verify_models_access') }}</li>
        <li>{{ $t('subscription_modal.reviews_show') }}</li>
        <li>{{ $t('subscription_modal.priority_support') }}</li>
      </ul>
      <div class="pay_referrals_hint">
        <span @click="openReferralsModal">
          {{ $t('subscription_modal.invite_models') }}
        </span>
        {{ $t('subscription_modal.or_pay') }}
      </div>
      <h3 class="payment_amount" v-if="bill">
        {{ amount }} <span>/ {{ $t('subscription_modal.month') }}</span>
      </h3>
      <div class="payment_button_wrapper">
        <app-button href="#" class="button button__primary" @click.native.prevent="openPaymentUrl">
          {{ $t('subscription_modal.pay') }}
        </app-button>
        <span class="not_received_hint" @click="openSupport">
          {{ $t('subscription_modal.have_problems') }}
        </span>
      </div>
    </div>
  </app-modal>
</template>

<script>
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import './styles.css';
import { getSubscriptionBill } from '@/api/auth';
import { mapGetters } from 'vuex';
import EventBus from '@/bus';

export default {
  components: {
    AppModal,
    AppButton,
  },

  data: () => ({
    loading: false,
    bill: null,
    payment_url: null,
  }),

  computed: {
    ...mapGetters(['loggedUser', 'isGirl']),

    amount() {
      if (!this.bill) { return; }
      if (this.$i18n.locale === 'ru') { return `${this.bill.amount} рублей`; }
      return `${Math.floor(this.bill.amount / 75)} $`;
    },
  },

  methods: {
    open() {
      this.$refs.modal.open();
    },

    openPaymentUrl() {
      window.open(this.payment_url);
    },

    openSupport() {
      Intercom('show');
    },

    openReferralsModal() {
      this.$refs.modal.close();
      this.$nextTick(() => {
        EventBus.$emit('openReferralsModal');
      });
    },
  },

  mounted() {
    getSubscriptionBill()
      .then(({ payment_url, bill }) => {
        this.bill = bill;
        this.payment_url = payment_url;
      });
  },
};
</script>
