<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import { Message, Notification } from 'element-ui';

import Socket from '@/utils/socket';
import { startGetToken } from '@/plugins/firebase';

export default {
  name: 'App',

  computed: mapGetters([
    'loggedUser',
    'token',
    'isManager',
  ]),

  data() {
    return {
      socket: null,
    };
  },

  watch: {
    loggedUser(newVal, oldVal) {
      if (newVal && !oldVal) {
        this.onLogin();
        return;
      }
      if (oldVal && !newVal) {
        this.onLogout();
      }
    },
  },

  methods: {
    onLogin() {
      const loggedUser = this.loggedUser;

      Socket.init(
        loggedUser.id,
        this.token,
        this.processNotification.bind(this)
      );
      this.socket = Socket

      Intercom('update', {
        user_id: loggedUser.id,
        name: loggedUser.name,
        phone: loggedUser.phone,
      });

      startGetToken();
    },

    onLogout() {
      if (!this.socket) { return; }
      this.socket.disconnect();
      this.socket = null;
    },


    processNotification(notification) {
      if (notification.type === 'PrivateMessage') {
        this.$store.dispatch('messages/appendNewMessage', notification.message_object);
        return;
      }

      if (notification.type === 'DialogMessage') {
        this.$store.dispatch('messages/appendNewMessage', notification.message_object);
        return;
      }


      if (notification.type === 'NewOfferApplication') {
        this.$store.dispatch('offers/newOfferApplication', notification.application);
        Notification.success(`${this.$t('notifications.new_offer_application')} ${notification.application.user.name}`);
        return;
      }

      if (notification.type === 'offerApplicationAgreed') {
        this.$store.dispatch('offers/updateOfferApplication', {
          offer_id: notification.offer.id,
          application: notification.application
        });
        Notification({
          type: 'success',
          title: notification.offer.name,
          message: this.$t('notifications.offer_application_agreed')
        });
        return;
      }

      if (notification.type === 'offerApplicationRefused') {
        this.$store.dispatch('offers/updateOfferApplication', {
          offer_id: notification.offer.id,
          application: notification.application
        });
        Notification({
          type: 'error',
          title: notification.offer.name,
          message: this.$t('notifications.offer_application_refused')
        });
        return;
      }

      if (notification.type === 'ManagerRefuseOffer') {
        this.$store.dispatch('offers/setManagerRefuseOfferModel', notification.offer.id);
        Notification.error(`${this.$t('notifications.offer_refuse_model')} ${notification.offer.name}`);
        return;
      }

      if (notification.type === 'ModelAgreedOffer') {
        this.$store.dispatch('offers/addAgreedModelToOffer', notification);
        Notification.success(`${this.$t('notifications.new_model_wait_offer')} ${notification.offer.name}`);
        return;
      }

      if (notification.type === 'OfferBlocked') {
        this.$store.dispatch('offers/changeOfferStatus', {
          offer_id: notification.offer.id,
          status: 'blocked',
        });
        Notification.error(`${this.$t('notifications.your_offer')} "${notification.offer.name}" ${this.$t('notifications.blocked')}`);
        return;
      }

      if (notification.type === 'OfferActivated') {
        this.$store.dispatch('offers/changeOfferStatus', {
          offer_id: notification.offer.id,
          status: 'active',
        });
        Notification.success(`${this.$t('notifications.your_offer')} "${notification.offer.name}" ${this.$t('notifications.pass_check')}`);
        return;
      }

      if (notification.type === 'TourActivated') {
        this.$store.dispatch('tours/changeTourStatus', {
          tour_id: notification.tour.id,
          status: 'active',
        });

        Message.success(this.$t('notifications.tour_pass_check'));
        return;
      }

      if (notification.type === 'TourBlocked') {
        this.$store.dispatch('tours/changeTourStatus', {
          tour_id: notification.tour.id,
          status: 'blocked',
        });

        Message.error(this.$t('notifications.tour_blocked'));
        return;
      }

      if (notification.type === 'UserVerified') {
        this.$store.dispatch('user/setVerified');
        Message.success(this.$t('notifications.profile_is_verified'));
        return;
      }

      if (notification.type === 'UserNotVerified') {
        this.$store.dispatch('user/setNotVerified', notification.reason);
        Message.error(`${this.$t('notifications.profile_not_verified')} ${notification.reason}`);
        return;
      }

      if (notification.type === 'VerifyPhotoNotification') {
        this.$store.dispatch('user/setNotVerified', notification.reason);
        Message.info(this.$t('notifications.upload_verify_photo'));
        return;
      }

      if (notification.type === 'MediaChecked') {
        this.$store.dispatch('user/setMediaChecked', notification.media_id);
        Message.success(notification.media_type === 'video' ? this.$t('notifications.video_checked') : this.$t('notifications.photo_checked'));
        return;
      }

      if (notification.type === 'FillAncetaNotification') {
        Message.success(this.$t('notifications.fill_anceta'));
        return;
      }

      if (notification.type === 'GiveAccessToursCreate') {
        this.$store.dispatch('user/setUserCanCreateTours');
        Message.success(this.$t('notifications.got_access_tours'));
        return;
      }

      if (notification.type === 'GiveAccessOffersCreate') {
        this.$store.dispatch('user/setUserCanCreateOffers');
        Message.success(this.$t('notifications.got_access_offers'));
        return;
      }

      if (notification.type === 'BillPaid') {
        if (notification.bill_type === 'OrderPlan') {
          this.$store.dispatch('user/setSubscriptionPayedStatus');
          Message.success(this.$t('notifications.access_application_paid'));
        }
      }
    },
  },
};
</script>
