@import "./reset.css";
@import "./offers.css";
@import "./settings.css";
@import "./anceta.css";
@import "./profile.css";
@import "./messages.css";
@import "./backward_button.css";

:root {
  --main-text-color: #242a38;
  --grey-color: #647786;
}

html {
  width: 100%;
}

p {
  color: var(--main-text-color);
}

h2 {
  font-size: 34px;
  line-height: 51px;
  font-weight: 400;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

.el-notification__title{
  line-height: inherit;
}

body, #app {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.v-application {
  line-height: 1!important;
}

.v-application p {
  margin-bottom: 0!important;
}

.wrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.container {
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 0px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
}

p {
  line-height: 1.5;
}

@media(max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.v-menu__content--fixed {
  z-index: 200000000!important;
}

.sidebar__block .logo__block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo__block img {
  height: 44px;
  margin-right: 5px;
}
.logo__block span {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.sidebar__block .user__block {
  margin-top: 7px;
  cursor: pointer;
}

.user__block .user__icon_edit {
  opacity: 0;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s opacity ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.4);
  height: 100%;
  border-radius: 100%;
}

.user__block:hover .user__icon_edit {
  opacity: 1;
}

.user__block .user__avatar {
  height: 64px;
  width: 64px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-size: cover;
  border-radius: 100%;
  margin-right: 3px;

  background-clip: padding-box; /* !importanté */
  border: solid  transparent; /* !importanté */
  position: relative;
}

.user__block .user__avatar:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(#fd4b5c), to(#0ee000));
  background: linear-gradient(to right, #fd4b5c, #0ee000);
  transition: all 0.3s ease;
}

.user__block:hover .user__avatar:before {
  transform: rotate(180deg);
}

.sidebar__block .user__block .user__block-title {
  font-size: 18px;
  margin-bottom: 6px;
}

.sidebar__block .user__block .user__block-info {
  font-size: 16px;
}

.v-list-item__title i {
  margin-right: 5px;
}

@media(max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media(max-width: 767px) {
  .el-message {
    width: calc(100% - 40px);
    min-width: auto;
  }
  .el-message__content {
    line-height: 1.3;
  }
}

.pulse {
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
