.chat__wrapper {
  display: flex;
  width: 100%;
  height: 100vh!important;
  margin-top: -42px;
  background: #fff;
}

.chat__wrapper .only-mobile {
  display: none;
}

.chat__dialogs {
  width: 300px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.chat__messages {
  flex: 1 1 0;
  border-right: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat__messages .recipients {
  cursor: pointer;
}

.chat_options {
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 50px;
}

.chat_options .title-options {
  flex: 0 1 30px;
  text-align: center;
  height: 100%;
  line-height: 50px;
  font-size: 20px;
}

.chat_options .title-row {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  flex: 1 1 0;
}

.chat__messages .chat_title {
  padding: 0 20px;
}

.chat__dialogs-content {
  overflow: auto;
  flex: 1 1 auto;
  position: relative;
}

.chat__dialog {
  height: 70px;
  border-bottom: 1px solid #eee;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.chat__dialog.active {
  background: #5682a3;
}

.chat__dialog.active .chat_dialog-title,
.chat__dialog.active .chat_dialog-message,
.chat__dialog.active .chat_dialog-date {
  color: #fff
}

.chat__dialog.unread {
  background: #7bbcec;
}

.chat__dialog.unread .chat_dialog-title,
.chat__dialog.unread .chat_dialog-message,
.chat__dialog.unread .chat_dialog-date {
  color: #fff
}

.chat_dialog-avatar-wrapper .chat_dialog-avatar {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.chat__dialog .chat_dialog-info {
  width: 100%;
  height: 100%;
  padding: 12px 0 6px 14px
}

.chat_dialog-info .chat_dialog-top {
  display: flex;
  overflow: hidden;
}

.chat_dialog-top .chat_dialog-title {
  font-weight: 700;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat_dialog-top .chat_dialog-date {
  width: 50%;
  overflow: hidden;
  text-align: right;
  color: #aaa;
  font-size: 13px;
  margin-top: 3px;
}

.chat_dialog-info .chat_dialog-message {
  -webkit-box-orient: vertical;
  /* eslint-disable-next-line */
  -webkit-line-clamp: 2;
  font-size: 14px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin-top: 5px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
  color: #aaa;
}

.title-options {
  flex: 0 0 50px;
  text-align: center;
  height: 100%;
  line-height: 50px;
  font-size: 20px;
}

.chat_title {
  flex: 0 0 50px;
  border-bottom: 1px solid #eee;
  align-items: center;
  display: flex;
  padding: 0;
  color: #5a6169!important;
}

.chat_title .title-row {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
  color: #000;
}

.title-avatar {
  height: 36px;
  width: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin: auto;
}

.title-info {
  flex: 1 1 auto;
  padding: 0 10px;
}

.chat_body {
  flex: 1 1 auto;
  overflow: auto;
  padding-top: 15px;
}

.chat_fullscreen-input_wrapper {
  flex: 0 0 50px;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
}

.chat_fullscreen-input_wrapper input {
  flex: 1 1 auto;
  border: none;
  font-weight: 200;
  font-size: 16px;
  padding-left: 20px;
  line-height: 49px;
}

.chat_fullscreen-input_wrapper input:focus {
  outline: none;
}

.chat_fullscreen-input_wrapper .input_wrapper-options {
  flex: 0 1 60px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #aaa;
  transition: all .2s ease-out;
}

.chat_fullscreen-input_wrapper i {
  font-size: 26px;
}

.input_wrapper-options.active {
  color: #5682a3;
}

.chat_msg_item {
  position: relative;
  margin: 0 0 15px 0;
  padding: 10px 10px;
  max-width: 60%;
  display: block;
  word-wrap: break-word;
  border-radius: 3px;
  clear: both;
  z-index: 10;
  font-size: 16px;
  line-height: 1.462;
}
.chat_msg_item .chat_avatar {
  position: absolute;
  top: 0;
}

.chat_msg_item.chat_msg_item_admin {
  margin-left: 20px;
  float: left;
  background: rgba(0, 0, 0, 0.03);
  color: #666;
}

.chat_msg_item .avatar
{
  display: inline-block;
  height: 36px;
  width: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin: auto;
  vertical-align: middle;
  margin-right: 5px;
}

.chat_msg_item .content
{
  display: inline-block;
  vertical-align: middle;
}


.chat_msg_item.chat_msg_item_user {
  margin-right: 20px;
  float: right;
  background: #42a5f5;
  color: #eceff1;
}

.chat_msg_item.chat_msg_item_admin:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: 998;
  border: 6px solid transparent;
  border-right-color: rgba(255, 255, 255, .4);
}

@media(max-width: 767px) {
  .page-Messages .column.content {
    padding: 0!important;
    height: 100%!important;
  }
  .page-Messages .wrapper .container {
    padding-top: 0;
  }
  .chat__wrapper .only-mobile {
    display: block;
  }
  .chat_fullscreen-title {
    padding: 0;
  }

  .chat__wrapper {
    display: flex;
    height: 100% !important;
    margin-top: 0!important;
    position: fixed;
    left: 0;
    top: 0;
  }
  .chat__dialogs {
    transition: all 0.5s ease-out;
    opacity: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100vw;
  }
  .chat__dialogs.active {
     display: flex;
     width: 100%;
     opacity: 1;
     right: 0;
     z-index: 1;
  }
  .chat__messages {
    transition: all 0.5s ease-out;
    opacity: 0;
    right: -100vw;
    top: 0;
    position: absolute;
    height: 100%;
  }
  .chat__messages.active {
   width: 100%;
   opacity: 1;
   right: 0;
  }
  .chat__messages .chat_title {
    padding: 0;
  }
}
