.offers_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.offers_wrapper .el-loading-mask {
  background: none;
}


.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 25px;
}

.header__title .header__city > * {
  display: inline-flex;
}

.header__title .header__city .v-input {
  padding: 0px 5px;
}

.header__title .header__city .v-input__slot:before {
  display: none;
}

.header__title .header__city .v-input__slot:after {
  display: none;
}

.header__title .header__city .v-select__selections {
  line-height: inherit;
}

/*
.header__title .header__city input {
  max-width: 0;
}

.header__title .header__city .v-select__selection {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  max-width: 100%;
}*/

.header__title.header__title-backward {
  justify-content: normal;
}

.header__title h2 {
  margin-bottom: 0;
}

@media(max-width: 767px) {
  .header__title {
    padding-right: 0;
  }
  .header__title .button {
    border-radius: 100%;
    padding: 10px;
  }
  .header__title .button .button__text span {
    display: none;
  }
  .header__title .button .button__text i {
    margin: 0;
    line-height: 20px;
  }
}

@media(min-width: 767px) {
  .header__title {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .header__title h2 {
    font-size: 28px;
    font-weight: 500;
  }
  .offers_wrapper {
    margin-right: -15px;
    position: relative;
  }
}


.offer__summary-option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid #eee;
  padding: 12px 0;
}
.offer__summary-option:first-child {
  border-top: none;
}
.offer__summary-option.offer__summary-option_description {
  flex-direction: column;
}

.offer__summary-option span {
  font-weight: 500;
  line-height: 24px;
}

.offer__summary-option p {
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}


.offers_wrapper .column-2 {
  margin-bottom: 20px;
}

.offer__card {
  transition: box-shadow .3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .10);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.offer__card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .03);
}

.offer__background {
  height: 200px;
  border-radius: 15px;
  background-size: cover;
  background-position: top center;
  transition: all .3s ease-in-out;
}

.offer__card:hover .offer__background {
  transform: scale(1.1);
}

.offer__body {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  padding: 20px 40px 20px 20px;
  z-index: 2;
}

.offer__shadow {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: calc(100% - 15px);
  z-index: 1;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
  opacity: 0.4;
  border-radius: 15px;
}

.offer__title {

}

.offer__city {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-overflow: ellipsis;
  overflow: hidden;
}

.offer__name {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  text-overflow: ellipsis;
  overflow: hidden;
}

.offer__bottom {
  display: flex;
  position: absolute;
  bottom: 15px;
  width: calc(100% - 15px - 40px);
  justify-content: flex-end;
}

.offer__bottom .chip {
  margin-left: auto;
}

@media(max-width: 767px) {
  .offer__card {
    max-width: 100%;
    padding-right: 0;
  }
  .offer__body {
    padding-right: 20px;
  }
  .offer__shadow {
    width: 100%;
  }
  .offer__bottom {
    width: calc(100% - 15px - 20px);
  }
  .offer__background, .offer__body, .offer__shadow {
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
  }
}

.dialog__modal {
  padding: 30px;
}
