.user__profile-wrapper {
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: -42px;
  color: var(--main-text-color);

  height: 100%!important;
  min-height: 100vh!important;
}

.user__profile-wrapper::-webkit-scrollbar {
  display: none;
}

.user__profile {
  width: 66.666%;
  height: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background: #fff;
  margin-right: 20px;
  overflow: auto;
}

.user__profile::-webkit-scrollbar {
  display: none;
}

.user__profile-news {
  width: 300px;
  background: #fff;
  height: 100%;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  flex: 1 1 auto;
  position: relative;
}

.user__profile-news .v-expansion-panel:before {
  box-shadow: none;
}

.user__top-title {
  border-bottom: 1px solid rgb(230, 236, 240);
  height: 53px;
  padding: 0 15px;
  background: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.user__top-title-back {
  margin-right: 15px;
  line-height: 53px;
  min-width: 30px;
  text-align: center;
}

.user__top-title-settings {
  line-height: 53px;
  min-width: 30px;
  text-align: center;
  display: none;
}

.user__top-title-back i, .user__top-title-settings i {
  color: #1da1f2;
  font-size: 20px;
  line-height: 53px;
}

.user__top-title-content {
  font-weight: 500;
  font-size: 18px;
  flex: 1 1 0;
}

.user__profile-top {
  height: 200px;
  width: 100%;
  position: relative;
}

.user__profile-top-background {
  height: 100%;
  width: 100%;
  background-image: url(https://d2ko3u8nw1ndor.cloudfront.net/2876/conversions/e0cfc022c9bded42ed8a170e5da2044f-big.jpg);
  background-size: cover;
  position: relative;
}
.user__profile-top-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #bdc3c7;
  background: -webkit-gradient(linear, left bottom, left top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to top, #2c3e50, #bdc3c7);
  opacity: 0.4;
}

.user__profile-top-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.user__profile-main-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
}
.user__profile-main-info_avatar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -84px;
  z-index: 2;
  position: relative;
}
.user__profile-main-info_avatar_image {
  height: 140px;
  width: 140px;
  background-image: url(https://d2ko3u8nw1ndor.cloudfront.net/2876/conversions/e0cfc022c9bded42ed8a170e5da2044f-big.jpg);
  background-size: cover;
  border-radius: 100%;
  border: 4px solid #fff;
  margin-bottom: -10px;
}

.user__profile-main-info_name {
  font-size: 28px;
  font-weight: 800;
  color: #FFF;
  position: absolute;
  top: 26%;
  left: 154px;
  display: flex;
  width: calc(100% - 154px);
}

.user__profile-main-info_name span {
  font-size: 28px;
}

.user__profile-main-info_verified {
  display: flex;
  line-height: 46px;
  align-items: center;
  margin-left: -46px;
  font-weight: 500;
  cursor: pointer;
}

.user__profile-main-info_verified img {
  width: 34px;
  margin-right: 5px;
}

.user__profile-main-info_verified img.unverified_image {
  width: 46px;
}

.user__profile-content {
  padding: 0 20px 20px;
}

.user__profile-content .save_button {

}

.user__summary {

}

.user__summary-option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 1px solid #eee;
  padding: 12px 0;
}
.user__summary-option:first-child {
  border-top: none;
}

.user__summary-option span {
  font-weight: 500;
  line-height: 24px;
}

.user__summary-option p {
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}

.profile__photos {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  margin: 0 0 0 -20px;
}

.profile__photos::-webkit-scrollbar {
  display: none;
}

.profile__photo {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  flex-shrink: 0;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.2s opacity;
  border: 1px solid #eee;
  position: relative;
}

.profile__photo:hover {
  opacity: 0.9;
}

.profile__photo-image {
  height: 100%;
  width: 100%;
  background-image: url(https://d2ko3u8nw1ndor.cloudfront.net/2876/conversions/e0cfc022c9bded42ed8a170e5da2044f-big.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.photo__waiting {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0, 0.3);
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  padding: 3px 5px;
}

.media__options {
  position: fixed;
  z-index: 222222222;
  top: 50px;
  left: 10px;
}

.blueimp-gallery>.slides>.slide>.video-content>img {
  height: 100%!important;
}

@media(max-width: 767px) {
  .media__options {
    bottom: 10px;
    top: auto;
  }
  .user__profile-wrapper {
    flex-direction: column;
    margin-top: -27px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .user__profile {
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .user__profile-news {
    width: auto;
    min-height: 400px;
  }
  .user__summary-option {
    flex-direction: column;
  }
  .user__summary-option span {
    margin-bottom: 5px;
  }
  .profile__photos {
    padding: 10px 20px;
  }
  .profile__photo {
    height: 65px;
    width: 65px;
    margin-right: 12px;
  }
  .user__profile-top {
    height: 160px;
  }
  .user__profile-main-info_avatar {
    margin-top: -50px;
  }
  .user__profile-main-info_name {
    top: 10%;
    left: 93px;
  }
  .user__profile-main-info_verified {
    cursor: pointer;
    left: 130px;
    bottom: -12px;
    position: absolute;
  }
  .user__profile-main-info_avatar_image {
    height: 80px;
    width: 80px;
  }
  .user__profile-main-info_avatar .button {
    display: none;
  }
  .user__top-title-settings {
    display: block;
  }
  .user__profile-news .user__top-title {
    z-index: 1;
  }
}
