<template>
  <app-modal class="tour__modal" :class="{'modal_left_hidden': modal_left_hidden}" ref="modal">
    <div class="tour__modal-top">
      <div class="tour__modal-top-content">
        <div class="tour__title" v-show="!loading">
          <div class="tour__city">{{ title }}</div>
          <div class="tour__name">{{ currentTour.name }}</div>
        </div>
        <div class="tour__bottom">
        </div>
      </div>
      <div class="tour__modal-top-background" :style="`background-image: url(${cityImage})`">
        <div class="tour__modal-top-gradient"></div>
      </div>
      <div class="tour__modal-top-shadow"></div>
    </div>
    <div class="tour__modal-content">
      <div class="user__title-wrapper" @click="openUserModal">
        <div class="user__avatar" :style="`background-image: url(${managerAvatar})`"></div>
        <div class="user__title">
          <div class="user__name">{{ currentTour.manager ? currentTour.manager.name : '' }}</div>
          <div class="user__city">Агент</div>
        </div>
      </div>
      <v-skeleton-loader
        :loading="loading"
        height="94"
        type="list-item-two-line"
      >
        <div class="user__message_buttons" v-if="currentTour.manager">
          <app-button href="#" class="button button__primary" v-if="!currentTour.manager.whatsapp">
            Написать сообщение
          </app-button>
          <app-button href="#" class="button button__success" @click.native.prevent="openWhatsappDialog" v-if="currentTour.manager.whatsapp">
            <i class="fab fa-whatsapp"></i> Написать в Whatsapp
          </app-button>
        </div>
        <h3>Описание</h3>
        <p v-html="currentTour.description"></p>
      </v-skeleton-loader>
    </div>
    <modal-user
      ref="modalUser"
      @closed="onModalUserClose"
    />
  </app-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import AppModal from '@/components/AppModal';
import AppButton from '@/components/AppButton';
import ModalUser from '@/components/ModalUser';
import Chip from '@/components/Chip';
import { getTourStatus } from '@/utils/offers';
import './styles.css';

export default {
  props: ['tourId', 'tour'],

  components: {
    AppModal,
    AppButton,
    Chip,
    ModalUser,
  },

  computed: {
    ...mapGetters(['currentTour', 'loggedUser', 'isGirl']),

    title() {
      return this.currentTour.country ? this.currentTour.country.name : '';
    },
    cityImage() {
      const default_image = 'https://static.themoscowtimes.com/image/1360/37/407968_1000x666_1024_390eba4e9dc1ad1f24553dbc733a2045.jpg';
      if (this.loading) {
        if (this.tour && this.tour.city && this.tour.city.image_path) { return `https://d2ko3u8nw1ndor.cloudfront.net/${this.tour.city.image_path}`; }
        return default_image;
      }
      if (!this.currentTour.city) { return default_image; }
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.currentTour.city.image_path}`;
    },

    managerAvatar() {
      if (this.currentTour && this.currentTour.manager && this.currentTour.manager.avatar) { return this.currentTour.manager.avatar.small; }
      return '/static/img/without_avatar.jpg';
    },
  },

  data: () => ({
    loading: false,
    modal_left_hidden: false,
    overscrolled: false,
    scrollContainer: null,
  }),

  watch: {
    tourId: {
      immediate: true,
      handler(newVal, oldVal) {
        this.loadTour();
      },
    },
  },

  methods: {
    getTourStatus,

    open() {
      this.$refs.modal.open();
      this.$nextTick(this.initScrollListener.bind(this));
    },

    close() {
      this.removeListener();
      this.$refs.modal.close();
      this.$emit('closed');
    },

    openUserModal() {
      this.modal_left_hidden = true;
      this.$refs.modalUser.open(this.currentTour.manager);
    },

    onModalUserClose() {
      this.modal_left_hidden = false;
    },

    loadTour() {
      this.loading = true;
      this.$store.dispatch('tours/loadModelTour', this.tourId)
        .then(() => {
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
          this.close();
        });
    },

    initScrollListener() {
      const scrollContainer = document.querySelector('.tour__modal .__scroll');
      this.scrollContainer = scrollContainer;
      this.scrollContainer.addEventListener('scroll', this.scrollHandler.bind(this));
    },

    scrollHandler(event) {
      const target = event.target || event.currentTarget;
      const scrollTop = target.scrollTop;
      if (scrollTop >= 160) {
        if (this.overscrolled) { return; }
        document.querySelector('.tour__modal .modal__close').style.color = '#242a38';
        this.overscrolled = true;
      } else {
        if (!this.overscrolled) { return; }
        document.querySelector('.tour__modal .modal__close').style.color = '#fff';
        this.overscrolled = false;
      }
    },

    removeListener() {
      if (this.scrollContainer) { this.scrollContainer.removeEventListener('scroll', this.scrollHandler.bind(this)); }
    },

    openWhatsappDialog() {
      const message = encodeURI(
        `Здравствуйте. Я ${this.loggedUser.name} из приложения vue-example по поводу вашего тура. Моя страница в приложении vue-example://${
          this.isGirl ? 'model/' : 'manager/'
        }${this.loggedUser.id}`,
      );

      window.open(
        `http://api.whatsapp.com/send?phone=${this.currentTour.manager.whatsapp.replace('+', '')}&text=${message}`,
      );
    },
  },

  beforeDestroy() {
    this.removeListener();
  },
};
</script>
