.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: -100vh;
  height: 100%;
  width: 100vw;
  background: rgba(0,0,0,0.4);
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.modal__wrapper[display] {
  opacity: 1;
  top:0;
  transition: all 0.3s ease-in-out;
}

.offer__modal > .modal__msg_wrapper,
.tour__modal > .modal__msg_wrapper {
  left: 0;
  transition: all 0.3s ease-in-out;
}
.modal__wrapper .modal__msg_wrapper p {
  margin-bottom: 10px!important;
}
.modal__wrapper .modal__msg_wrapper .offer__summary p {
  margin-bottom: 0!important;
}
.offer__modal.modal_left_hidden > .modal__msg_wrapper,
.userlist__modal.modal_left_hidden > .modal__msg_wrapper,
.tour__modal.modal_left_hidden > .modal__msg_wrapper {
  left: -100vw;
}
.modal__msg_wrapper {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 568px;
  border-radius: 20px;
  max-height: 90vh;
}

.modal__msg_header{
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
  transition: 0.2s all ease-in-out;
}
.modal__close, .modal__options, .modal__back {
  width: 48px;
  height: 48px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  outline: none;
  border: 0;
  background: none;
  margin: 8px;
  transition: 0.2s all ease-in-out;
}
.modal__msg_header[overscrolled="true"] {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.modal__msg_header[overscrolled="true"] .modal__close,
.modal__msg_header[overscrolled="true"] .modal__options,
.modal__msg_header[overscrolled="true"] .modal__back {
  color: var(--main-text-color);
}
.modal__msg_content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 30px  30px 30px;
  padding-right: 12px;
}

.modal__msg_content::-webkit-scrollbar {
  display: none;
}

.modal__button{
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 568px){
  .modal__msg_wrapper{
    width: 90%;
  }
  .modal__msg_content {
    margin: 0 15px  15px 15px;
    padding-right: 12px;
  }
}
