<template>
  <div class="tour__card">
    <div class="tour__background" :style="`background-image: url(${cityImage})`"></div>
    <div class="tour__body">
      <div class="tour__title">
        <div class="tour__city">{{ title }}</div>
        <div class="tour__name">{{ text }}</div>
      </div>
      <div class="tour__bottom">
        <chip
          :content="chipContent"
          :class="`tour_chip_${tour.status}`"
        />
      </div>
    </div>
    <div class="tour__shadow"></div>
  </div>
</template>

<script>
import './app-tour.css';
import Chip from '@/components/Chip';

export default {
  props: {
    tour: Object,
  },

  components: {
    Chip,
  },

  computed: {
    text() {
      if (!this.tour.description) { return ''; }
      if (this.tour.description.length > 60) { return `${this.tour.description.substr(0, 60)}...`; }
      return this.tour.description;
    },
    title() {
      return this.tour.country ? this.tour.country.name : '';
    },
    chipContent() {
      return this.$t(`tour_status.${this.tour.status}`);
    },
    cityImage() {
      return `https://d2ko3u8nw1ndor.cloudfront.net/${this.tour.city.image_path}`;
    },
  },
};
</script>
